<template>
  <div class="fixed--w100">
    <route-match-hitch v-show="isShowMatched"
      ref="rmh"
      :matchedHitchs="matchedHitchs"
      @showDealForm="showCreateForm"
      @showMatched="showMatched"
    ></route-match-hitch>
    <input-loc :isShowMe="isShowInputLoc" @selectLocHandler="selectLocHandler"/>
    <v-dialog v-model="isShowCreateForm" fullscreen hide-overlay content-class="dialog__create-route">
      <v-card v-if="isCreateLoading || createRouteError.isShow">
        <v-container fluid>
          <v-flex mt-5 xs12 text-xs-center >
            <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
          </v-flex>
          <v-layout row warp class="btm-nav">
            <v-flex xs12 text-xs-center>
              <v-alert type="error" dismissible v-model="createRouteError.isShow">
                {{createRouteError.text}}
              </v-alert>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <create-route-form
        v-if="!isCreateLoading"
        :route="route"
        :withHitch="activatingHitchItem"
        @cancel="cancelCreateForm"
        @createRoute="createRoute"
      ></create-route-form>
    </v-dialog>
    <v-dialog 
      content-class="dialog__find-matching-options"
      v-model="isShowFindOptionsForm" 
      persistent 
      max-width="500"
    >
      <find-options-form
        @cancel="cancelFindOptionsForm"
        @find="findHitchs"
      ></find-options-form>
    </v-dialog>
    <v-dialog v-model="isShowRouteOptions" persistent max-width="290">
      <v-card>
        <v-toolbar dark dense color="primary">
          <v-toolbar-title>Derection Options</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click.native="isShowRouteOptions = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-list subheader>
            <v-list-tile avatar>
              <v-list-tile-action>
                <v-checkbox v-model="directionOptions.avoidHighways"></v-checkbox>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>avoid highways</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile avatar>
              <v-list-tile-action>
                <v-checkbox v-model="directionOptions.avoidTolls"></v-checkbox>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>avoid tolls</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-flex xs12 text-xs-center>
            <v-btn color="primary" @click.native="findRoute">Directions
              <v-icon dark right>search</v-icon>
            </v-btn>
          </v-flex>        
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="btn__navigate-back">
      <v-btn fab dark color="primary" @click.native="backHandler()">
          <v-icon dark>navigate_before</v-icon>
      </v-btn>
    </div>
    <div v-show="isShowMe">
      <div v-show="isShowMainInput">
        <div class="menu--fixed--top--right">
          <v-menu bottom left>
            <v-btn fab dark color="primary" slot="activator">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile @click.native="addLoc()">
                <v-list-tile-title>add a stop</v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-if="locList.length>2" @click.native="showEditLoc()">
                <v-list-tile-title>edit stops</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </div>
        <v-layout row wrap>
          <v-flex xs8 offset-xs2 text-xs-center>
            <v-text-field solo color="cyan darken" 
                  label="Start" 
                  :append-icon="'my_location'"
                  @click.native="showInputLoc(0)"
                  v-model="src.text"></v-text-field>
          </v-flex>
          <v-flex class="xs2"></v-flex>
          <v-flex v-if="locList.length>2" xs8 offset-xs2 text-xs-center>
            <v-card>{{locList.length-2}} stop{{locList.length-2 > 1?'s':''}}</v-card>
          </v-flex>
          <v-flex xs8 offset-xs2 text-xs-center>
            <v-text-field solo color="cyan darken" 
                  label="Destination" 
                  :append-icon="'my_location'"
                  @click.native="showInputLoc(locList.length-1)"              
                  v-model="dest.text"></v-text-field>
          </v-flex>
          <v-flex class="xs2"></v-flex>
        </v-layout>
      </div>
      <v-layout v-if="isShowEditStop" row warp>
        <draggable xs12 v-model="locList" :element="'v-flex'" :options="{handle:'.input-group__prepend-icon'}">
          <div v-for="(el, index) in locList" :key="index">
            <v-layout row wrap>
              <v-flex xs8 offset-xs2 text-xs-center>
                <v-text-field solo color="cyan darken" 
                  label="Start" 
                  :prepend-icon="'menu'"
                  :append-icon="locList.length > 2 ? 'close':''"
                  :append-icon-cb="() => removeLoc(index)"
                  v-model="el.text"
                  ></v-text-field>
              </v-flex>
            </v-layout>
          </div>
        </draggable>
      </v-layout>
      <v-layout v-if="isShowActions" row warp>
        <v-flex xs12 text-xs-center>
          <v-btn id="btn__find-directions" v-if="!directionsDisplay.map && !isShowEditStop" color="primary" 
          @click.native="isShowRouteOptions = true"
          :disabled="locList[0].text == '' || locList[1].text == ''"
          >
            Find Direction
            <v-icon dark right>directions</v-icon>
          </v-btn>
          <v-btn id="btn__find-hitchhikes" v-if="directionsDisplay.map" color="info" v-on:click="isShowFindOptionsForm=true"
            :loading="isFindHitchsBtnLoading"
            :disabled="btnHitchLoading"
          >
            Find Hitchhikes
            <v-icon dark right>thumb_up</v-icon>
          </v-btn>
          <v-btn v-if="directionsDisplay.map" color="primary" @click.native="showCreateForm(null)">Create
            <v-icon dark right>directions_car</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout row warp class="btm-nav">
        <v-flex xs12 text-xs-center>
          <v-alert type="error" dismissible v-model="btmError.show">
            {{btmError.text}}
          </v-alert>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>
<script>
  import InputLoc from '../childMaps/InputLoc.vue'
  /*censored*/

  export default {
    components: {
      InputLoc,
      draggable,
      RouteMatchHitch,
      CreateRouteForm,
      FindOptionsForm
    },
    data () {
      return {
        isShowMe: true,
        isShowCreateForm: false,
        isShowInputLoc: false,
        isShowMatched: false,
        /*censored*/
        isCreateLoading: false,
        isShowFindOptionsForm: false,
        isFindHitchsBtnLoading: false,  
        btnHitchLoading: false,
        btmError: {
          show: false,
          text: ''
        },
        createRouteError: {
          isShow: false,
          text: ''
        },
        backHandler: () => {},
        locList: [{
          latLng: null,
          text: '',
          name: 'src',
          marker: null
        }, {
          latLng: null,
          text: '',
          name: 'dest',
          marker: null
        }],
        /*censored*/
        route: {
          title: '',
          vehicle: {},
          encodedLine: null,
          alterRoute: [],
          price: 0,
          sDate: null,
          sTime: null,
          eDate: null,
          eTime: null
        },
        directionOptions: {
          origin: null,
          destination: null,
          travelMode: 'DRIVING',
          avoidHighways: false,
          avoidTolls: false,
          provideRouteAlternatives: true
        },
        activatingLocIndex: null,
        activatingHitchItem: null,
        matchedHitchs: []
      }
    },
    computed: {
      src () { return this.locList[0] },
      dest () {
        return this.locList[this.locList.length - 1]
      }
    },
    mounted () {
      this.directionsDisplay.addListener('directions_changed', this.directionChanged.bind(null))
      this.backHandler = () => this.$router.go(-1)
    },
    updated () {
      this.$nextTick(() => {
        this.$store.state.mapsComponent.isShowMe = true
        this.$store.state.btmComponent.isShowMe = false
      })
    },
    beforeRouteLeave(to, from, next) {
      const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
      if (answer) {
        this.$refs.rmh.removeHitchMarkers()
        this.$refs.rmh.removeRouteMarkers()
        this.removeStopMarkers()
        next()
      } else {
        next(false)
      }
    },
    watch: {
      locList (prev, cur) {
        for (let i = 0; i < cur.length; i++) {
          cur[i].name = (i+1).toString()
          if (cur[i].marker) cur[i].marker.setMap(null)
          if (cur[i].latLng) {
            cur[i].marker = this.createMarker(cur[i].latLng, cur[i].name)
          }
        }
        this.zoomToStops()
      }
    },
    methods: {
      addLoc () {
        this.locList.push({
          latLng: null,
          text: '',
          name: '',
          marker: null
        })
        this.showInputLoc(this.locList.length - 1)
      },
      removeLoc (index) {
        this.locList[index].marker.setMap(null)
        this.locList.splice(index, 1)
      },
      removeStopMarkers () {
        for (let i = 0; i < this.locList.length; i++) {
          if (this.locList[i].marker) this.locList[i].marker.setMap(null)
        }
      },
      defaultBackHandler () {
        this.backHandler = () => this.$router.go(-1)
      },
      showCreateForm (index) {
        if (index === null) {
          this.activatingHitchItem = null
        } else {
          this.activatingHitchItem = this.matchedHitchs[index]
          this.activatingHitchItem.index = index
        }
        this.isShowCreateForm = true
      },
      cancelCreateForm () {
        this.isShowCreateForm = false
      },
      cancelFindOptionsForm () {
        this.isShowFindOptionsForm = false
      },
      showMainInput () {
        this.isShowMainInput = true
        this.defaultBackHandler()
      },
      hideMainInput () {
        this.isShowMainInput = false
      },
      showEditLoc () {
        this.hideMainInput()
        this.isShowEditStop = true
        this.backHandler = () => this.hideEditLoc()
      },
      hideEditLoc () {
        this.showMainInput()
        this.isShowEditStop = false
      },
      showMe () {
        this.isShowMe = true
      },
      hideMe () {
        this.isShowMe = false
      },
      showActions () {
        this.isShowActions = true
      },
      hideActions () {
        this.isShowActions = false
      },
      showInputLoc (index) {
        this.isShowInputLoc = true
        this.activatingLocIndex = index
        this.hideMe()
        this.backHandler = () => this.hideInputLoc()
      },
      hideInputLoc () {
        this.isShowInputLoc = false
        this.activatingLocIndex = null
        this.defaultBackHandler()
        this.showMe()
      },
      showMatched (index) {
        this.activatingHitchItem = this.matchedHitchs[index]
        this.activatingHitchItem.index = index
        this.$refs.rmh.showMatchedMarker(index)
        this.$refs.rmh.zoomToBound(this.directionsDisplay.directions.routes[this.directionsDisplay.getRouteIndex()].overview_path)
        /*censored*/
        this.hideActions()
      },
      hideShowMatched () {
        this.isShowMatched = false
        this.activatingHitchItem = null
        this.showMainInput()
        this.showActions()
      },
      clearMatched () {
        this.$refs.rmh.removeHitchMarkers()
        this.activatingHitchItem = null
        this.matchedHitchs = []
      },
      createRoute (deal) {
        let payload = null
        this.isCreateLoading = true
        if (this.activatingHitchItem) {
          payload = { route: this.route, stops: this.locList, deal: {hitchId: this.activatingHitchItem.id, data: deal} }
          this.matchedHitchs.splice(this.activatingHitchItem.index, 1)
        } else {
          payload = { route: this.route, stops: this.locList }
        }
        this.$store.dispatch('routes/create', payload).then(result => {
          this.$refs.rmh.removeHitchMarkers()
          this.$refs.rmh.removeRouteMarkers()
          window.location = '/route/'+result.data.id
        }).catch(err => {
          this.isCreateLoading = false
          this.createRouteError.isShow = true
          this.createRouteError.text = err.data
          console.log(err)
        })
      },
      selectLocHandler (loc) {
        this.matchedHitchs = []        
        // Pan to location
        this.$store.state.mapsComponent.$refs.mmm.$mapObject.panTo(loc.latLng)
        this.route.encodedLine = null
        this.directionsDisplay.setMap(null)
        if (this.directionsDisplay) this.directionsDisplay.set('directions', null)
        this.removeAlterPolyline()
        this.clearMatched()
        this.locList[this.activatingLocIndex].text = loc.text
        this.locList[this.activatingLocIndex].latLng = loc.latLng
        if (this.locList[this.activatingLocIndex].marker) {
           /*censored*/
        }
        this.locList[this.activatingLocIndex].marker = this.createMarker(loc.latLng, this.locList[this.activatingLocIndex].name)
        this.hideInputLoc()
        this.zoomToStops()
      },
      zoomToStops () {
        let bounds = new google.maps.LatLngBounds()
        for (let i = 0; i < this.locList.length; i++) {
          if (this.locList[i].marker) this.locList[i].marker.setMap(null)
          if (this.locList[i].latLng) {
            this.locList[i].marker = this.createMarker(this.locList[i].latLng, this.locList[i].name)
            bounds.extend(this.locList[i].marker.getPosition())
          }
        }
        if (this.locList[0].latLng && this.locList[this.locList.length-1].latLng) this.$store.state.mapsComponent.$refs.mmm.$mapObject.fitBounds(bounds)
      },
      findRoute () {
        this.route.encodedLine = null
        this.isShowRouteOptions = false
        this.directionsDisplay.setMap(this.$store.state.mapsComponent.$refs.mmm.$mapObject)
        this.directionOptions['origin'] = this.locList[0].latLng.lat + ',' + this.locList[0].latLng.lng
        this.directionOptions['destination'] = this.locList[this.locList.length - 1].latLng.lat + ',' + this.locList[this.locList.length - 1].latLng.lng
        if (this.locList.length > 2) {
          this.directionOptions['waypoints'] = []
          for (let i = 1; i < this.locList.length - 1; i++) {
            this.directionOptions['waypoints'].push({
              location: this.locList[i].latLng,
              stopover: true
            })
          }
        }
        var that = this
        this.directionsService.route(this.directionOptions, function (result, status) {
          if (status === 'OK') {
            that.directionsDisplay.setDirections(result)
          } else {}
          that.directionOptions['origin'] = null
          that.directionOptions['destination'] = null
        })
      },
      directionChanged () {
        if (this.directionsDisplay.directions !== null) {
          let currentIndex = this.directionsDisplay.getRouteIndex()
          this.route.encodedLine = this.directionsDisplay.directions.routes[currentIndex].overview_polyline
          this.route.decodedLine = polylineUtils.decode(this.route.encodedLine)
          this.removeAlterPolyline()
          for (let i = 0; i < this.directionsDisplay.directions.routes.length; i++) {
            if (i !== currentIndex) {
              /*censored*/
              polyline.setMap(this.$store.state.mapsComponent.$refs.mmm.$mapObject)
              google.maps.event.addListener(polyline, 'click', () => {
                this.directionsDisplay.setRouteIndex(i)
                this.directionChanged()
              })
            }
          }
          this.computeTotalDistance(this.directionsDisplay.directions)
        }
      },
      removeAlterPolyline () {
        for (let i = 0; i < this.route.alterRoute.length; i++) {
          this.route.alterRoute[i].polyline.setMap(null)
          this.route.alterRoute.splice(i, 1)
        }
      },
      computeTotalDistance (result) {
        /*censored*/
      },
      createMarker (latlng, label, draggable = false) {
        return new google.maps.Marker({
          position: latlng,
          map: this.$store.state.mapsComponent.$refs.mmm.$mapObject,
          label: label,
          draggable: draggable,
          animation: google.maps.Animation.DROP
        })
      },
      findHitchs (findOptions) {
        this.btmError.show = false
        this.isShowFindOptionsForm = false
        this.isFindHitchsBtnLoading = true
        this.btnHitchLoading = true
        this.$store.dispatch('routes/findHitchs', { encodedLine: this.route.encodedLine, findOptions }).then(results => {
          this.matchedHitchs = results
          if (this.matchedHitchs.length == 0) throw('notfound')
          else this.isShowMatched = true
        }).catch(err => {
          if (err === 'notfound') {
            this.btmError.show = true
            this.btmError.text = 'Not match any hitchhikes.!'
          }
        }).finally(() => {
          this.btnHitchLoading = false          
          this.isFindHitchsBtnLoading = false          
        })
      }
    }
  }
</script>
<style>
  .menu--fixed--top--right {
    top: 10px; right: 0px; position: fixed; z-index: 100;
  }
  .fixed--w100 {
    width: 100%; position: fixed;
  }
  .btn__navigate-back {
    top: 10px; position: fixed; z-index: 100
  }
</style>