<template>
  <div>
    <div class="btn__navigate-back">
      <v-btn fab dark color="primary" @click.native="backHandler">
        <v-icon dark>navigate_before</v-icon>
      </v-btn>
    </div>
    <route-match-hitch v-show="isShowMatched"
      ref="rmh"
      :matchedHitchs="matchedHitchs"
      @showDealForm="showDealForm"
      @showMatched="showMatched"
    ></route-match-hitch>

    <v-dialog v-model="createDealForm.isShow" fullscreen hide-overlay>
      <v-toolbar dark fixed dense color="primary">
        <v-toolbar-title>Create Deal</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click.native="cancelDealForm">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card v-if="!isDealFormFilling">
        <v-flex v-if="createDealForm.isDone && createDealForm.errMsg === ''" mt-5 xs12 text-xs-center>
          <v-alert type="success" :value="true">
            Successful.
          </v-alert>
        </v-flex>
        <v-flex v-if="createDealForm.isDone && createDealForm.errMsg !== ''" mt-5 xs12 text-xs-center>
          <v-alert type="error" :value="true">
            {{createDealForm.errMsg}}
          </v-alert>
        </v-flex>
        <v-container fluid>
          <v-flex v-if="createDealForm.isLoading && !createDealForm.isDone" mt-5 xs12 text-xs-center >
            <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
          </v-flex>
          <v-flex v-if="createDealForm.isDone" xs12 text-xs-center>
            <v-btn color="primary" @click.native="cancelDealForm">Close</v-btn>
          </v-flex>
        </v-container>
      </v-card>
      <v-card v-if="isDealFormFilling">
        <v-container fluid mt-5>
          <v-form ref="offerForm" v-model="dealFormValid" lazy-validation>
            <deal-form
              :dealBind="deal"
            ></deal-form>
            <v-flex xs12 text-xs-center>
              <v-btn color="primary" @click.native="createDeal" :disabled="!dealFormValid">Submit</v-btn>
            </v-flex>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
  
    <v-dialog 
      content-class="dialog__find-matching-options"
      v-model="isShowFindOptionsForm" 
      persistent 
      max-width="500"
    >
      <find-options-form
        @cancel="cancelFindOptionsForm"
        @find="findHitchs"
      ></find-options-form>
    </v-dialog>
    <div v-show="isShowMe" v-if="route">
      <v-layout row wrap>
        <v-flex xs8 offset-xs2 text-xs-center>
          <v-text-field solo color="cyan darken" 
                readonly
                label="Start" 
                :append-icon="'my_location'"
                v-model="route.stops[0].text"></v-text-field>
        </v-flex>
        <v-flex class="xs2"></v-flex>
        <v-flex v-if="route.stops.length>2" xs8 offset-xs2 text-xs-center>
          <v-card>{{route.stops.length-2}} stop{{route.stops.length-2 > 1?'s':''}}</v-card>
        </v-flex>
        <v-flex xs8 offset-xs2 text-xs-center>
          <v-text-field solo color="cyan darken" 
                readonly
                label="Destination" 
                :append-icon="'my_location'"
                v-model="route.stops[route.stops.length-1].text"></v-text-field>
        </v-flex>
        <v-flex class="xs2"></v-flex>
        <v-flex x12 text-xs-center>
          <v-btn color="primary" @click.native="showMyRoute">
            See <v-icon dark right>place</v-icon>
          </v-btn>
          <v-btn color="primary" :loading="searchLoading" @click.native="isShowFindOptionsForm = true">
            Find Hitchhikers <v-icon dark right>search</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-tabs icons-and-text centered dark color="cyan" v-model="activatedTab">
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab href="#tab-req">
          Requests
          <v-icon>compare_arrows</v-icon>
        </v-tab>
        <v-tab href="#tab-srch">
          Search Result
          <v-icon>favorite</v-icon>          
        </v-tab>
        <v-tab-item :id="'tab-req'">
          <v-card flat>
            <v-flex v-if="fetchingState === 'waiting'" xs12 text-xs-center >
              <v-progress-circular indeterminate :size="30" :width="7" color="green"></v-progress-circular>
            </v-flex>
            <v-list three-line v-else-if="fetchingState === 'listening' && deals.length > 0">
              <template v-for="(item, index) in deals">
                <v-list-tile avatar :key="item.id">
                  <v-list-tile-avatar>
                    <img :src="item.passenger.photoURL">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="$options.filters.fullname(item.passenger.fName, item.passenger.lName)"></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn icon ripple @click.native="goChat(item.id)">
                      <v-icon color="grey lighten-1">chat</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < deals.length" :key="index"></v-divider>
              </template>
            </v-list>
            <v-flex v-else-if="fetchingState === 'listening' && deals.length === 0" xs12 text-xs-center >
              No requests.
            </v-flex>
          </v-card>
        </v-tab-item>
        <v-tab-item :id="'tab-srch'">
          <v-card flat>
            <v-list three-line v-if="matchedHitchs.length > 0">
              <template v-for="(item, index) in matchedHitchs">
                <v-list-tile avatar :key="item.title+index" @click.native="showMatchedPage(index)">
                  <v-list-tile-avatar>
                    <img :src="item.owner.photoURL">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="item.owner.name+', '+item.price+'$'"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider v-if="index + 1 < matchedHitchs.length" :key="index"></v-divider>
              </template>
            </v-list>
            <v-flex v-else-if="searchLoading" xs12 text-xs-center >
              <v-progress-circular indeterminate :size="30" :width="7" color="green"></v-progress-circular>
            </v-flex>
            <v-flex x12 text-xs-center v-else>
              Not Found!
            </v-flex>
          </v-card>
        </v-tab-item>
      </v-tabs>
      <v-layout row warp class="btm-nav">
        <v-flex xs12 text-xs-center>
          <v-alert type="error" dismissible v-model="btmError.show">
            {{btmError.text}}
          </v-alert>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>
<script>
  import RouteMatchHitch from './RouteMatchHitch.vue'
  import DealForm from '../deals/forms/DealForm.vue'
  import FindOptionsForm from './forms/FindOptionsForm.vue'

  export default {
    components: {
      RouteMatchHitch,
      DealForm,
      FindOptionsForm      
    },
    props: {
      routeId: { type: String, required: true }
    },
    data () {
      return {
        isShowMe: true,
        isShowMatched: false,
        isShowFindOptionsForm: false,
        backHandler: () => this.$router.go(-1),
        /*censored*/
        dealFormValid: false,
        activatedTab: null,
        route: null,
        searchLoading: false,
        deal: {
          /*censored*/
        },
        activatingHitchItem: null,
        matchedHitchs: [],
        btmError: {
          show: false,
          text: ''
        }
      }
    },
    computed: {
      isDealFormFilling () {
        return !this.createDealForm.isLoading && !this.createDealForm.isDone && this.createDealForm.errMsg === ''
      },
      fetchingState () {
        return this.$store.state.deals.fetchingState
      },
      deals () {
        return this.$store.getters['deals/dealsByRouteId'](this.route.id)
      }
    },
    beforeRouteEnter (to, from, next) {
      next(async vm => {
        vm.$store.state.mapsComponent.isShowMe = false
        let route = await vm.$store.dispatch('routes/get', to.params.routeId)
        if (route.err) {
          vm.$router.push({ name: '404', params: { msg: route.err } })
        } else {
          vm.$store.dispatch('deals/getAll')
          vm.route = route
          vm.deal = {
            ...vm.deal,
            /*censored*/
            sTime: route.sTime,
            eDate: route.eDate,
            eTime: route.eTime
          }
        }
      })
    },
    beforeRouteLeave(to, from, next) {
      const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
      if (answer) {
        this.$refs.rmh.removeHitchMarkers()
        this.$refs.rmh.removeRouteMarkers()
        next()
      } else {
        next(false)
      }
    },
    filters: {
      fullname: function (fname, lname) {
        return fname + ' ' + lname
      }
    },
    methods: {
      goChat (dealId) {
        this.$router.push({ name: 'threadByDealId', params: { dealId } })
      },
      showMe () {
        this.isShowMe = true
        this.$store.state.btmComponent.isShowMe = true
      },
      hideMe () {
        this.isShowMe = false
        this.$store.state.btmComponent.isShowMe = false
      },
      showMyRoute () {
        this.$store.state.mapsComponent.isShowMe = true
        this.hideMe()
        /*censored*/
        this.$refs.rmh.markRoute(this.route)
        setTimeout(() => this.$refs.rmh.zoomToBound(), 500)
      },
      showMatchedPage (index) {
        this.$store.state.mapsComponent.isShowMe = true
        this.isShowMatched = true
        this.hideMe()
        this.backHandler = () => this.hideShowMatched()
        // avoid bug zoomtobound without zoom.
        this.showMatched(index)
        setTimeout(() => this.showMatched(index), 500)
      },
      showMatched (index) {
        this.$refs.rmh.markRoute(this.route)
        /*censored*/
        this.$refs.rmh.showMatchedMarker(index)
        this.$refs.rmh.zoomToBound()
      },
      hideShowMatched () {
        this.backHandler = () => this.$router.go(-1)
        this.isShowMatched = false
        this.activatingHitchItem = null
        this.$store.state.mapsComponent.isShowMe = false
        this.showMe()
      },
      showDealForm () {
        this.createDealForm.isShow = true
      },
      cancelDealForm () {
        this.createDealForm = {
          isShow: false,
          isLoading: false,
          isDone: false,
          errMsg: ''
        }
      },
      cancelFindOptionsForm () {
        this.isShowFindOptionsForm = false
      },
      createDeal () {
        this.createDealForm.isLoading = true
        this.$store.dispatch('routes/createExistD2p', {
          routeId: this.route.id,
          points: this.route.points,
          hitchId: this.activatingHitchItem.id,
          deal: this.deal
        }).then(result => {
          this.$refs.rmh.removeHitchMarkers()
          this.$refs.rmh.removeRouteMarkers()
          /*censored*/
          this.hideShowMatched()
        }).catch(err => {
          this.createDealForm.errMsg = err
        }).finally(() => {
          this.createDealForm.isDone = true
        })
      },
      findHitchs (findOptions) {
        this.activatedTab = 'tab-srch'
        this.isShowFindOptionsForm = false
        this.searchLoading = true
        this.$store.dispatch('routes/findHitchs', { encodedLine: this.route.encodedLine, findOptions }).then(results => {
          this.searchLoading = false
          this.matchedHitchs = results
        }).catch(err => {
          this.searchLoading = false
          this.btmError.show = true
          this.btmError.text = err
        })
      }
    }
  }
</script>
<style>
  .btn__navigate-back {
    top: 10px; position: fixed; z-index: 100
  }
</style>