<template>
  <v-layout row warp class="btm-nav">
    <v-flex xs12 text-xs-center>
      <v-tabs
        id="tabs__matched-hitch"
        v-if="matchedHitchs.length > 0"
        v-model="activatedTab"
        dark
        color="cyan"
        show-arrows
        centered
      >
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab
          v-for="(item, index) in matchedHitchs"
          :key="item.id"
          :href="'#tab-' + item.id"
          @click.native="$emit('showMatched', index)"
        >
          <v-avatar
            :size="32"
            class="grey lighten-4"
          >
            <img :src="item.owner.photoURL">
          </v-avatar>
        </v-tab>
        <v-tabs-items>
          <v-tab-item
            v-for="(item, index) in matchedHitchs"
            :key="item.id"
            :id="'tab-' + item.id"
          >
            <v-layout row wrap>
              <v-flex class="card card--flat white" color="white" xs2>
                <v-avatar
                  class="grey lighten-4"
                >
                  <img :src="item.owner.photoURL" alt="avatar">
                </v-avatar>
              </v-flex>
              <v-flex class="card card--flat white" color="white" xs8>
                <v-card-text v-html="item.title+', '+item.price+'$'"></v-card-text>
              </v-flex>
              <v-flex class="card card--flat white" color="white" xs2 text-xs-right>
                <v-btn class="btn__make-deal" flat icon color="pink" @click.native="$emit('showDealForm', index)">
                  <v-icon>send</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>
<script>
  import polylineUtils from '@mapbox/polyline'

  export default {
    data () {
      return {
        activatedTab: 0,
        hitchImgMarker: {
          src: {
            url: '/*censored*/',
          },
          dest: {
            url: '/*censored*/',
          }
        },
        routeImgMarker: {
          src: {
            url: '/*censored*/',
          },
          dest: {
            url: '/*censored*/',
          }
        },
        hitch: {
          markers: {
            src: null,
            dest: null
          }
        },
        route: {
          markers: {
            src: null,
            dest: null
          },
          polyline: null,
          encodedLine: null
        }
      }
    },
    props: { 
      matchedHitchs: { type: String } 
    },
    methods: {
      removeHitchMarkers () {
        if (this.hitch.markers.src) this.hitch.markers.src.setMap(null)
        if (this.hitch.markers.dest) this.hitch.markers.dest.setMap(null)
      },
      removeRouteMarkers () {
        if (this.route.markers.src) this.route.markers.src.setMap(null)
        if (this.route.markers.dest) this.route.markers.dest.setMap(null)
        if (this.route.polyline) this.route.polyline.setMap(null)
      },
      markRoute (route) {
        this.removeRouteMarkers()
        let decodedPLine = polylineUtils.decode(route.encodedLine)
        decodedPLine = decodedPLine.map((pLine) => {
          return {lat: pLine[0], lng: pLine[1]}
        })
        this.route.markers.src = this.createMarker(decodedPLine[0], '', false, this.routeImgMarker.src)
        this.route.markers.dest = this.createMarker(decodedPLine[decodedPLine.length - 1], '', false, this.routeImgMarker.dest)
        this.route.polyline = new google.maps.Polyline({
          path: decodedPLine,
          strokeColor: '#123456',
          /*censored*/
          map: this.$store.state.mapsComponent.$refs.mmm.$mapObject
        })
      },
      showMatchedMarker (index) {
        this.activatedTab = 'tab-'+this.matchedHitchs[index].id        
        let hitch = this.matchedHitchs[index]
        this.removeHitchMarkers()
        if (hitch.points) {
          /*censored*/
        }
      },
      zoomToBound (pLPoints) {
        let bounds = new google.maps.LatLngBounds()
        let polylinePoints = null
        if (pLPoints) {
          polylinePoints = pLPoints
        } else {
          polylinePoints = this.route.polyline.getPath().getArray()
        }
        let points = []
        if (this.hitch.markers.src) points.push(this.hitch.markers.src.getPosition())
        if (this.hitch.markers.dest) points.push(this.hitch.markers.dest.getPosition())
        points.push(polylinePoints[0])
        points.push(polylinePoints[polylinePoints.length - 1])
        for (let n = 0; n < points.length; n++) {
          bounds.extend(points[n])
        }
        this.$store.state.mapsComponent.$refs.mmm.$mapObject.fitBounds(bounds)
      },
      createMarker (latlng, label, draggable=false, image=null) {
        let markerOptions = {
          position: latlng,
          map: this.$store.state.mapsComponent.$refs.mmm.$mapObject,
          label: label,
          draggable: draggable,
          animation: google.maps.Animation.DROP
        }
        if (image) markerOptions.icon = image
        return new google.maps.Marker(markerOptions)
      }
    }
  }
</script>