<template>
  <v-card>
    <v-toolbar dark fixed dense color="primary">
      <v-toolbar-title>Create Route</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon dark @click.native="cancel">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container fluid mt-5>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field label="Title" v-model="route.title" :rules="[rules.required]"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-select
              label="Vehicle"
              :items="vihicles"
              content-class="vehicle--list"
              v-model="route.vehicle"
              :rules="[rules.required]"
              item-text="name"
              item-value="name"
              max-height="auto"
              return-object
              :hint="`${route.vehicle.id}`"
              autocomplete
            >
              <template slot="item" slot-scope="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                </template>
                <template v-else>
                  <v-list-tile-avatar>
                    <img :src="data.item.img">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="data.item.pId"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-select>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Available seats" v-model="route.vehicle.seatLeft" required></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field 
            id="input__price"
            prepend-icon="attach_money" 
            label="Price per seat"  
            v-model="route.price"
            :rules="[rules.required, rules.number]"            
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-select
              v-model="route.repeatDays"
              label="Repeats"
              chips
              tags
              :items="days"
            ></v-select>
          </v-flex>
          <v-flex xs11 sm5>
            <v-dialog
              ref="sDateDialog"
              content-class="dialog__departure-date"
              persistent
              v-model="sDateModal"
              lazy
              full-width
              width="290px"
            >
              <v-text-field
                slot="activator"
                label="Departure"
                id="input__departure-date"
                v-model="route.sDate"
                :rules="[rules.required]"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker 
                v-model="route.sDate" 
                scrollable 
                actions
                :min="new Date().toISOString().substr(0, 10)"                
              >
                <template slot-scope="{ save, cancel }">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click.native="sDateModal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click.native="$refs.sDateDialog.save(route.sDate)">OK</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs11 sm5>
            <v-text-field 
            id="input__departure-time"
            prepend-icon="access_time" 
            label="time" 
            :mask="'time'"
            v-model="route.sTime"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs11 sm5>
            <v-dialog
              content-class="dialog__arrival-date"
              ref="eDateDialog"          
              persistent
              v-model="eDateModal"
              lazy
              full-width
              width="290px"
            >
              <v-text-field
                slot="activator"
                label="Arrival"
                id="input__arrival-date"                
                v-model="route.eDate"
                :rules="[rules.required]"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker 
                v-model="route.eDate" 
                scrollable 
                actions
                :min="route.sDate"
              >
                <template slot-scope="{ save, cancel }">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click.native="eDateModal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click.native="$refs.eDateDialog.save(route.eDate)">OK</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-spacer></v-spacer>        
          <v-flex xs11 sm5>
            <v-text-field
            id="input__arrival-time"
            prepend-icon="access_time" 
            label="time" 
            :mask="'time'" 
            v-model="route.eTime"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 v-if="withHitch">
            <deal-form :dealBind="dealBind" :isShowCreateOptions="false"><v-divider></v-divider></deal-form>
          </v-flex>
        </v-layout>
        <v-card-actions>
          <v-flex xs12 text-xs-center>
            <v-btn color="primary" @click.native="save" :disabled="!valid">Submit</v-btn>
          </v-flex>
        </v-card-actions>
      </v-form>
    </v-container>
  </v-card>    
</template>
<script>
  import { mapGetters } from 'vuex'
  import DealForm from '../../deals/forms/DealForm.vue'

  export default {
    components: {
      DealForm
    },
    props: {
      route: { type: Object, required: true },
      withHitch: { type: Boolean, required: true }
    },
    data () {
      return {
        sDateModal: false,
        eDateModal: false,
        dealBind: { message: '' },
        days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        valid: true,
        rules: {
          number: v => !isNaN(v) || 'must be number',
          required: (v) => !!v || 'Required.'
        }
      }
    },
    watch: {
      'route.vehicle' (prev, cur) {
        this.route.vehicle.seatLeft = this.route.vehicle.nSeat
      }
    },
    computed: {
      ...mapGetters({
        vihicles: 'users/vehicleWithHeaderForUI'
      })
    },
    methods: {
      cancel () {
        this.$emit('cancel')
      },
      save () {
        if (this.$refs.form.validate()) {
          this.$emit('createRoute', this.dealBind)
        }
      }
    }
  }
</script>