<template>
  <v-card class="elevation-12">
    <v-toolbar dark color="primary">
      <v-toolbar-title>Edit Information</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-alert type="error" dismissible v-model="showErr">
        {{ err }}
    </v-alert>
    <v-card-text>
      <v-flex v-if="loading" xs12 text-xs-center >
        <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
      </v-flex>
      <v-form v-if="!loading" v-model="valid" ref="form" lazy-validation>
        <v-layout row wrap>
          <v-flex x12 text-xs-center>
            <img v-if="user.avatar" :src="user.avatar.data" class="avatar"> <br/>
            <upload-btn title="Browse" :selectedCallback="uploadAvatar" :loading="uploadAvatarLoading"></upload-btn>      
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Username" readonly v-model="user.uName.data" :rules="uNameRules"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
            <v-text-field label="First Name"
              readonly
              v-model="user.fName.data"
              :append-icon="user.fName.isPublic ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (user.fName.isPublic = !user.fName.isPublic)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
            <v-text-field label="Last Name"
              readonly
              v-model="user.lName.data"
              :append-icon="user.lName.isPublic ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (user.lName.isPublic = !user.lName.isPublic)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Tel no."
              v-model="user.tel.data"
              :append-icon="user.tel.isPublic ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (user.tel.isPublic = !user.tel.isPublic)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              label="Birth Date"
              v-model="user.bDate.data"
              prepend-icon="event"
              readonly
              :append-icon="user.bDate.isPublic ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (user.bDate.isPublic = !user.bDate.isPublic)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              multi-line
              label="Address"
              v-model="user.address.data"
              :append-icon="user.address.isPublic ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (user.address.isPublic = !user.address.isPublic)"
            ></v-text-field>
          </v-flex>
          <v-flex x12 text-xs-center>
            <v-btn
              @click.native="submit"
              color="primary"
              :disabled="!valid"
            >
              submit
            </v-btn>
            <v-btn color="red darken-1" 
              @click.native="cancel">
              Cancel
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script>
/*censored*/

export default {
  components: {
    UploadBtn
  },
  data () {
    return {
      valid: true,
      loading: false,
      showErr: false,
      uploadAvatarLoading: false,
      err: '',
      user: {},
      uNameRules: [
        v => !!v || 'Username is required',
        v => (v && v.length >= 6) || 'Username must be over than 6 characters'
      ],
      bDateModal: false,
      rules: {
        required: (value) => !!value || 'Required.'
      }
    }
  },
  created () {
    this.user = cloneDeep(this.$store.state.users.currentUser)
  },
  methods: {
    submit () {
      this.showErr = false
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$store.dispatch('users/updateUserInfo', {
          uName: this.user.uName,
          fName: this.user.fName,
          lName: this.user.lName,
          bDate: this.user.bDate,
          tel: this.user.tel,
          address: this.user.address,
          refUsers: {data: '', isPublic: false}
        })
        .then(res => {
          window.location = '/home'
        })
        .catch(err => {
          this.loading = false
          this.err = err.response.data.message
          this.showErr = true
        })
      }
    },
    cancel () {
      this.$router.go(-1)
    },
    uploadAvatar (image) {
      if (image) {
        this.uploadAvatarLoading = true
        this.$store.dispatch('users/uploadAvatar', {
          image,
          progressCb: (percentage) => {
            /*censored*/
          },
          errCb: (err) => {
            /*censored*/
          },
          completeCb: (imageUrl) => {
            this.user.avatar = { data: imageUrl }
            this.uploadAvatarLoading = false
          }
        })
      }
    }
  }
}
</script>
<style scoped>
  .avatar {
    height: 120px
  }
</style>