<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>New User</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-alert type="error" dismissible v-model="showErr">
          {{ err }}
        </v-alert>
        <v-flex v-if="loading" xs12 text-xs-center >
          <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
        </v-flex>
        <v-card-text>
          <v-form v-if="!loading" v-model="valid" ref="form" lazy-validation>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field box label="Username" v-model="uName.data" :rules="uNameRules"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field box label="First Name"
                  v-model="fName.data"
                  :rules="[rules.required]"
                  :append-icon="fName.isPublic ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (fName.isPublic = !fName.isPublic)"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field box label="Last Name"
                  v-model="lName.data"
                  :rules="[rules.required]"
                  :append-icon="lName.isPublic ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (lName.isPublic = !lName.isPublic)"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>

                <v-menu
                  ref="bDateDialog"
                  :close-on-content-click="false"
                  v-model="bDateDialog"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="bDate.data"
                    label="Birthday date"
                    prepend-icon="event"
                    :rules="[rules.required]"
                    :append-icon="bDate.isPublic ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (bDate.isPublic = !bDate.isPublic)"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    ref="picker"
                    v-model="bDate.data"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1950-01-01"
                    @change="$refs.bDateDialog.save(bDate.data)"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex x12 text-xs-center>
                <v-btn
                  @click.native="submit"
                  :disabled="!valid"
                >
                  submit
                </v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data () {
    return {
      valid: true,
      loading: false,
      showErr: false,
      err: '',
      uName: {data: ''},
      uNameRules: [
        v => !!v || 'Username is required',
        v => (v && v.length >= 6) || 'Username must be over than 6 characters'
      ],
      fName: {data: '', isPublic: true},
      lName: {data: '', isPublic: true},
      bDateDialog: false,
      bDateModal: false,
      bDate: {data: '', isPublic: true},
      rules: {
        required: (value) => !!value || 'Required.'
      }
    }
  },
  watch: {
    bDateDialog (val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  methods: {
    submit () {
      this.showErr = false
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$store.dispatch('users/setNewUserInfo', {
          uName: this.uName,
          fName: this.fName,
          lName: this.lName,
          bDate: this.bDate
        })
          .then(res => {
            window.location = '/home'
          })
          .catch(err => {
            this.loading = false
            this.err = err.response.data.message
            this.showErr = true
          })
      }
    }
  }
}
</script>
