<template>
  <div>
    <v-card>
      <v-card-title class="headline">Rating
        <div>user info</div>
      </v-card-title>
      <v-layout row wrap>
        <v-flex xs6 md4 offset-xs0 offset-md2>
          <v-card-text>Ratings</v-card-text>
        </v-flex>
        <v-flex xs6>
          <rate v-model="rateVal" :length="5"></rate>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="wrongs"
            label="What went wrong?"
            chips
            tags
            :items="wItems"
          ></v-select>
        </v-flex>
        <v-flex xs12>
          <v-text-field label="Comments" v-model="comment"></v-text-field>
        </v-flex>
      </v-layout>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click.native="save">Save<v-icon dark right>done</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
import Rate from './Rate.vue'

export default {
  components: {
    Rate
  },
  props: {
    rateId: { type: String, required: true }
  },
  data () {
    return {
      rateVal: 5,
      wrongs: [],
      wItems: ['eating food'],
      comment: ''
    }
  },
  methods: {
    save () {
      this.$store.dispatch('rates/updateRating', { rateId: this.rateId, rateVal: this.rateVal })
    }
  }
}
</script>