<template>
  <div>
    <v-dialog v-model="isShowOfferForm" persistent max-width="500">
      <v-card>
        <v-container fluid>
          <deal-form :dealBind="dealBind" :isUpdatePoints="true"></deal-form>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" @click.native="closeOfferForm">Cancel<v-icon dark right>close</v-icon>
          </v-btn>
          <v-btn color="primary" @click.native="updateDeal">Save<v-icon dark right>done</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout align-center>
      <v-flex mx-auto>
        <div>
          <v-btn color="primary" v-on:click="isShowOfferForm = true">Offer</v-btn>
          <v-btn color="primary" v-on:click="goToThread()">Chat</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  import DealForm from './forms/DealForm.vue'

  export default {
    components: {
      DealForm
    },
    data () {
      return {
        thread: null,
        loading: true,
        isShowOfferForm: false,
        dealBind: {}
      }
    },
    props: {
      threadId: { type: String, required: true }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.init()
        vm.fetchData(to.params.threadId)
      })
    },
    beforeRouteLeave (to, from, next) {
      console.log('editRouteLeave')
      this.$parent.removeAllMarker()
      next()
    },
    methods: {
      init () {
        this.thread = null
        this.loading = true
      },
      goToThread () {
        this.$router.push({ name: 'thread',
          params: {
            threadId: this.thread.id
          }
        })
        // this.$router.push({ path: `/passenger/editp2d/${this.thread.id}` })
      },
      showOfferForm () {
        this.isShowOfferForm = true
      },
      closeOfferForm () {
        this.isShowOfferForm = false
      },
      showMatchedRoute (deal) {
        console.log('deal.src', deal.points)
        this.$parent.setSrcDestMarker({
          src: {
            lat: deal.points.src[0],
            lng: deal.points.src[1]
          },
          dest: {
            lat: deal.points.dest[0],
            lng: deal.points.dest[1]
          }
        })
        this.$parent.showMatchedRoute({ encodedLine: deal.encodedLine })
      },
      removeMatchedRoute () {
        this.$parent.removeMatchedRoute()
      },
      updateDeal () {
        let srcCoord = [this.$parent.marker.src.getPosition().lat(), this.$parent.marker.src.getPosition().lng()]
        let destCoord = [this.$parent.marker.dest.getPosition().lat(), this.$parent.marker.dest.getPosition().lng()]
        this.$store.dispatch('deals/updateDeal', { dealRef: this.thread.refData.dealRef, srcCoord, destCoord, offer: this.dealBind, encodedLine: this.$store.state.matchedRoute.encodedLine }).then(() => {
          this.$router.push({ name: 'thread', params: { threadId: this.threadId } })
          this.closeOfferForm()
        }).catch(err => {
          console.log('err', err)
        })
      },
      async fetchData (threadId) {
        console.log('fetchData')
        this.thread = await this.$store.dispatch('threads/getThreadByThreadId', { threadId: threadId })
        this.$store.dispatch('threads/getDealByThreadId', { threadId: threadId, cb: this.dealUpdate })
      },
      dealUpdate (deal) {
        console.log('dealupdate', deal)
        if (deal) {
          this.showMatchedRoute(deal)
        }
      }
    }
  }
</script>
