<template>
  <div v-if="latestDeal" class="fixed--w100">
    <input-loc :isShowMe="isShowInputLoc" @selectLocHandler="selectLocHandler"/>
    
    <v-dialog v-model="createDealForm.isShow" fullscreen hide-overlay>
      <v-toolbar dark fixed dense color="primary">
        <v-toolbar-title>Create Deal</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click.native="cancelDealForm">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card v-if="!isDealFormFilling">
        <v-flex v-if="createDealForm.isDone && createDealForm.errMsg === ''" mt-5 xs12 text-xs-center>
          <v-alert type="success" :value="true">
            Successful.
          </v-alert>
        </v-flex>
        <v-flex v-if="createDealForm.isDone && createDealForm.errMsg !== ''" mt-5 xs12 text-xs-center>
          <v-alert type="error" :value="true">
            {{createDealForm.errMsg}}
          </v-alert>
        </v-flex>
        <v-container fluid>
          <v-flex v-if="createDealForm.isLoading && !createDealForm.isDone" mt-5 xs12 text-xs-center >
            <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
          </v-flex>
          <v-flex v-if="createDealForm.isDone" xs12 text-xs-center>
            <v-btn color="primary" @click.native="cancelDealForm">Close</v-btn>
          </v-flex>
        </v-container>
      </v-card>
      <v-card v-if="isDealFormFilling">
        <v-container fluid mt-5>
          <v-form ref="offerForm" v-model="dealFormValid" lazy-validation>
            <deal-form
              :dealBind="latestDeal"
            ></deal-form>
            <v-flex xs12 text-xs-center>
              <v-btn class="btn__submit" color="primary" @click.native="createDeal" :disabled="!dealFormValid">Submit</v-btn>
            </v-flex>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>

    <div class="btn__navigate-back">
      <v-btn fab dark color="primary" @click.native="backHandler()">
          <v-icon dark>navigate_before</v-icon>
      </v-btn>
    </div>
    <div v-show="isShowMe">
      <v-layout row wrap>
        <v-flex xs8 offset-xs2 text-xs-center>
        <v-text-field solo color="cyan darken" 
              label="Start" 
              :append-icon="'my_location'"
              @click.native="showInputLoc(latestDeal.points.src)"
              v-model="latestDeal.points.src.text"></v-text-field>
        </v-flex>
        <v-flex class="xs2"></v-flex>        
        <v-flex xs8 offset-xs2 text-xs-center>
          <v-text-field solo color="cyan darken" 
                label="Destination" 
                :append-icon="'my_location'"
                @click.native="showInputLoc(latestDeal.points.dest)"              
                v-model="latestDeal.points.dest.text"></v-text-field>
        </v-flex>
      </v-layout>
    </div>
    <v-layout v-if="isShowActions" row warp>
      <v-flex xs12 text-xs-center>
        <v-btn id="btn__make-deal" color="primary" @click.native="showDealForm()">Make a deal
          <v-icon dark right>swap_horiz</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  import InputLoc from '../childMaps/InputLoc.vue'
  import DealForm from './forms/DealForm.vue'
  import polylineUtils from '@mapbox/polyline'

  export default {
    components: {
      InputLoc,
      DealForm
    },
    data () {
      return {
        hitchImgMarker: {
         /*censored*/
        },
        routeImgMarker: {
          /*censored*/
        },
        latestDeal: null,
        isShowMe: true,
        isShowInputLoc: false,
        isShowActions: true,
        backHandler: () => this.$router.go(-1),
        createDealForm: {
          /*censored*/
        },
        backHandler: () => {},
        activatingInput: null,
        dealFormValid: false,        
        dealBind: {},
        hitch: {
          markers: {
            src: null,
            dest: null
          }
        },
        route: {
          markers: {
            src: null,
            dest: null
          },
          polyline: null,
          encodedLine: null
        }
      }
    },
    computed: {
      isDealFormFilling () {
        return !this.createDealForm.isLoading && !this.createDealForm.isDone && this.createDealForm.errMsg === ''
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.dispatch('threads/getThreadByDealId', to.params.dealId).then(thread => {
          vm.$store.dispatch('threads/switchThread', { threadId: thread.id,
            latestDealCb: (latestDeal) => {
              vm.init(thread.id, thread.refData.dealId, latestDeal)
            }
          })
        })
      })
    },
    mounted () {
      this.$store.state.mapsComponent.isShowMe = true
      this.$store.state.btmComponent.isShowMe = false
      this.backHandler = () => this.$router.go(-1)
    },
    methods: {
      init (threadId, parentDealId, latestDeal) {
        this.latestDeal = {
          threadId, parentDealId, ...latestDeal.data
        }
        this.markHitchPoints(this.latestDeal.points)
        this.showDirection(this.latestDeal.encodedLine)
      },
      defaultBackHandler () {
        this.backHandler = () => this.$router.go(-1)
      },
      showEditLoc () {
        this.hideMainInput()
        this.isShowEditStop = true
        this.backHandler = () => this.hideEditLoc()
      },
      hideEditLoc () {
        this.showMainInput()
        this.isShowEditStop = false
      },
      showMe () {
        this.isShowMe = true
      },
      hideMe () {
        this.isShowMe = false
      },
      showDealForm () {
        this.createDealForm.isShow = true        
      },
      cancelDealForm () {
        this.createDealForm = {
          isShow: false,
          /*censored*/
          errMsg: ''
        }
      },
      showInputLoc (input) {
        this.isShowInputLoc = true
        this.activatingInput = input
        this.isShowActions = false
        /*censored*/
        this.backHandler = () => this.hideInputLoc()
      },
      hideInputLoc () {
        this.isShowInputLoc = false
        this.activatingInput = null
        this.isShowActions = true
        this.showMe()
      },
      markHitchPoints (points) {
        this.removeHitchMap()
        if (points) {
          this.hitch.markers.src = this.createMarker(points.src.latLng, '', false, this.hitchImgMarker.src)
          this.hitch.markers.dest = this.createMarker(points.dest.latLng, '', false, this.hitchImgMarker.dest)
        }
      },
      showDirection (encodedLine) {
        if (this.route.markers.src) {
          this.route.markers.src.setMap(null)
          this.route.markers.dest.setMap(null)
          this.route.polyline.setMap(null)
        }
        let decodedPLine = polylineUtils.decode(encodedLine)
        decodedPLine = decodedPLine.map((pLine) => {
          return {lat: pLine[0], lng: pLine[1]}
        })
        this.route.markers.src = this.createMarker(decodedPLine[0], '', false, this.routeImgMarker.src)
        this.route.markers.dest = this.createMarker(decodedPLine[decodedPLine.length - 1], '', false, this.routeImgMarker.dest)
        this.route.polyline = new google.maps.Polyline({
          path: decodedPLine,
          /*censored*/
          map: this.$store.state.mapsComponent.$refs.mmm.$mapObject
        })
        this.zoomToBound()
      },
      removeHitchMap () {
        if (this.hitch.markers.src) {
          this.hitch.markers.src.setMap(null)
          this.hitch.markers.dest.setMap(null)
        }
      },
      createDeal () {
        this.createDealForm.isLoading = true
        this.$store.dispatch('deals/create', { 
          deal: this.latestDeal 
        }).then(result => {
          this.createBtnLoading = false
          this.$router.push({ name: 'threadByDealId', params: { dealId: this.latestDeal.parentDealId } })
        }).catch(err => {
          this.createDealForm.errMsg = err
        }).finally(() => {
          this.createDealForm.isDone = true
        })
      },
      selectLocHandler (loc) {
        // Clear value
        this.activatingInput.text = loc.text
        this.activatingInput.latLng = loc.latLng
        /*censored*/
        this.hideInputLoc()
      },
      zoomToBound () {
        let bounds = new google.maps.LatLngBounds()
        let polylinePoints = this.route.polyline.getPath().getArray()
        let points = []
        /*censored*/
        points.push(polylinePoints[0])
        points.push(polylinePoints[polylinePoints.length - 1])
        for (let n = 0; n < points.length; n++) {
          bounds.extend(points[n])
        }
        this.$store.state.mapsComponent.$refs.mmm.$mapObject.fitBounds(bounds)
      },
      createMarker (latlng, label, draggable=false, image=null) {
        let markerOptions = {
          position: latlng,
          map: this.$store.state.mapsComponent.$refs.mmm.$mapObject,
          label: label,
          draggable: draggable,
          animation: google.maps.Animation.DROP
        }
        if (image) markerOptions.icon = image
        return new google.maps.Marker(markerOptions)
      }
    }
  }
</script>
<style>
  .fixed--w100 {
    width: 100%; position: fixed;
  }
  .btn__navigate-back {
    top: 10px; position: fixed; z-index: 100
  }
</style>