<template>
  <v-card>
    <v-toolbar dark fixed dense color="primary">
      <v-toolbar-title>Add new vehicle</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon dark @click.native="cancel">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container fluid mt-5>
      <v-alert type="error" dismissible v-model="showErr">
          {{ err }}
      </v-alert>
      <v-flex v-if="loading" xs12 text-xs-center >
            <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
      </v-flex>
      <v-form v-if="!loading" v-model="valid" ref="form" lazy-validation>
        <v-layout row wrap>
          <v-flex x12 text-xs-center>
            <img v-if="vehicle.img" :src="vehicle.img" style="height: 120px"> <br/>
            <upload-btn title="Browse" :selectedCallback="uploadImage" :loading="uploadImageLoading"></upload-btn>      
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Plate id" v-model="vehicle.pId" :rules="[rules.required]"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Name" v-model="vehicle.name" :rules="[rules.required]"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              multi-line
              label="Description"
              v-model="vehicle.desc"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Color" v-model="vehicle.color" :rules="[rules.required]"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="N of seat" v-model="vehicle.nSeat" :rules="[rules.required, rules.number]"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-select
              label="Type"
              v-model="vehicle.type"
              :items="types"
              :rules="[rules.required]"
              required
            ></v-select>
          </v-flex>
        </v-layout>        
        <v-card-actions>
          <v-flex xs12 text-xs-center>
            <v-btn color="primary" @click.native="submit" :disabled="!valid">Submit</v-btn>
          </v-flex>
         </v-card-actions>
      </v-form>
    </v-container>
  </v-card>   
  
</template>
<script>
import UploadBtn from '../../UploadBtn'

export default {
  components: {
    UploadBtn
  },
  props: {
    redirect: { type: String }
  },
  data () {
    return {
      valid: true,
      loading: false,
      showErr: false,
      uploadImageLoading: false,
      err: '',
      vehicle: {
        pId: '',
        img: '',
        name: '',
        desc: '',
        nSeat: '',
        color: '',
        type: null
      },
      types: [
        'car',
        'bike'
      ],
      rules: {
        number: v => !isNaN(v) || 'N of seat must be number',
        required: (v) => !!v || 'Required.'
      }
    }
  },
  methods: {
    submit () {
      this.showErr = false
      if (this.$refs.form.validate()) {
        this.loading = true
        console.log('loading', this.loading)
        this.$store.dispatch('users/vehicles/createVehicle', {
          pId: this.vehicle.pId,
          img: this.vehicle.img,
          name: this.vehicle.name,
          desc: this.vehicle.desc,
          nSeat: this.vehicle.nSeat,
          color: this.vehicle.color,
          type: this.vehicle.type
        })
          .then(res => {
            if (this.$route.query.redirect) {
              window.location = this.$route.query.redirect
            } else {
              window.location = '/vehicles'
            }
          })
          .catch(err => {
            this.loading = false
            this.err = err.response.data.message
            this.showErr = true
          })
      }
    },
    cancel () {
      this.$router.go(-1)
    },
    uploadImage (img) {
      if (img) {
        this.uploadImageLoading = true
        console.log(img)
        this.$store.dispatch('users/uploadImage', {
          img,
          progressCb: (percentage) => {
            console.log(percentage)
          },
          errCb: (err) => {
            console.log(err)
          },
          completeCb: (imageUrl) => {
            this.vehicle.img = imageUrl
            this.uploadImageLoading = false
          }
        })
      }
    }
  }
}
</script>
