<template>
  <v-card class="elevation-12">
    <v-layout align-center>
      <v-flex xs12>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Vehicles</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
            <v-card-text>
            <v-flex xs12 text-xs-center >
              <router-link :to="{ name: 'createRoute'}">
                <v-spacer></v-spacer>
                <v-btn color="primary">Create Route</v-btn>
              </router-link>
              <hr>
            </v-flex>
            <v-list three-line>
              <template v-for="(vehicle, index) in vehicles">
                <v-divider v-if="index !== 0" :key="vehicle.type+'dv'"></v-divider>
                <v-subheader :key="vehicle.type">{{ vehicle.type }}</v-subheader>
                <template v-for="(item, cIndex) in vehicle.items">
                  <v-divider v-if="cIndex !== 0" :inset="true" :key="vehicle.type+cIndex"></v-divider>
                  <v-list-tile avatar :key="vehicle.type+item.name">
                    <v-list-tile-avatar>
                      <img :src="item.img">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="item.name"></v-list-tile-title>
                      <v-list-tile-sub-title>seat: {{ item.nSeat }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </template>
            </v-list>
            <v-divider v-if="vehicles.length > 0"></v-divider>
            <v-flex xs12 text-xs-center >
              <v-btn :to="{name: 'createVihecle'}" color="primary">Add Vihecle</v-btn>
            </v-flex>
            <!-- todo: create if vihecles > 0 -->
          </v-card-text>
      </v-flex>
    </v-layout>
  </v-card>
  
</template>
<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      vehicles: state => state.users.currentUser.vehicles
    })
  },
  updated: function () {
    this.$nextTick(function () {
    })
  },
  methods: {
    createVehicle () {
    }
  }
}
</script>
