<template>
  <div class="fixed--w100">
    <input-loc :isShowMe="isShowInputLoc" @selectLocHandler="selectLocHandler"/>
    <div class="btn__navigate-back">
      <v-btn fab dark color="primary" @click.native="backHandler()">
        <v-icon dark>navigate_before</v-icon>
      </v-btn>
    </div>
    <hitch-match-route v-show="isShowMatched"
      ref="hmr"
      :matchedRoutes="matchedRoutes"
      @showDealForm="showCreateForm"
      @showMatched="showMatched"
    ></hitch-match-route>
    <v-dialog v-model="isShowCreateForm" fullscreen hide-overlay content-class="dialog__create-hitchhike">    
      <v-card v-if="isCreateLoading || createHitchError.isShow">
        <v-container fluid>
          <v-flex mt-5 xs12 text-xs-center>
            <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
          </v-flex>
          <v-layout row warp class="btm-nav">
            <v-flex xs12 text-xs-center>
              <v-alert type="error" dismissible v-model="createHitchError.isShow">
                {{createHitchError.text}}
              </v-alert>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <create-hitch-form
        v-if="!isCreateLoading"
        :hitch="hitch"
        :withRoute="activatingRouteItem"
        @cancel="cancelCreateForm"
        @createHitch="createHitch"
      ></create-hitch-form>
    </v-dialog>
    <v-dialog 
      content-class="dialog__find-matching-options"
      v-model="isShowFindOptionsForm" 
      persistent 
      max-width="500"
    >
      <find-options-form
        @cancel="cancelFindOptionsForm"
        @find="findRoutes"
      ></find-options-form>
    </v-dialog>
    <div v-show="isShowMe">
      <v-layout row wrap>
        <v-flex xs8 offset-xs2 text-xs-center>
          <v-text-field solo color="cyan darken" 
                label="Start" 
                id="input__place-start"                
                :append-icon="'my_location'"
                @click.native="showInputLoc(hitchPoints.src)"
                v-model="hitchPoints.src.text"></v-text-field>
        </v-flex>
        <v-flex class="xs2"></v-flex>        
        <v-flex xs8 offset-xs2 text-xs-center>
          <v-text-field solo color="cyan darken" 
                label="Destination" 
                id="input__place-destination"
                :append-icon="'my_location'"
                @click.native="showInputLoc(hitchPoints.dest)"              
                v-model="hitchPoints.dest.text"></v-text-field>
        </v-flex>
        <v-flex class="xs2"></v-flex>        
        <v-flex x12 text-xs-center>
          <v-btn id="btn__find-drivers" color="primary" v-on:click="isShowFindOptionsForm=true"
            :loading="isFindDriversBtnLoading"
            :disabled="hitchPoints.src.text == '' || hitchPoints.dest.text == ''"
          >
            Find Drivers
          </v-btn>
          <v-btn id="btn__create-hitchhike" v-if="hitchPoints.src.text && hitchPoints.dest.text" color="primary" @click.native="showCreateForm(null)"
            :disabled="hitchPoints.src.text == '' || hitchPoints.dest.text == ''"
          >
            Create Hitchhike
          </v-btn>
        </v-flex>
        <v-flex xs12>
          <v-list id="list__matched-route" three-line v-if="matchedRoutes.length > 0">
            <v-subheader>Routes</v-subheader>
            <template v-for="(item, index) in matchedRoutes">
              <v-list-tile avatar :key="index+item.title" @click.native="showMatchedPage(index)">
                <v-list-tile-avatar>
                  <img :src="item.owner.photoURL">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider v-if="index + 1 < matchedRoutes.length" :key="index"></v-divider>
            </template>
          </v-list>
          <v-flex xs12 text-xs-center v-if="!matchedRoutes.length">
            <v-alert v-model="isShowMatchedRoutesNotFound" type="info" dismissible>
              Not match any routes!
            </v-alert>
          </v-flex>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>
<script>
  import InputLoc from '../childMaps/InputLoc.vue'
  /*censored*/
  import CreateHitchForm from './forms/CreateHitchForm.vue'
  import FindOptionsForm from './forms/FindOptionsForm.vue'

  export default {
    components: {
      InputLoc,
      /*censored*/
      CreateHitchForm,
      FindOptionsForm
    },
    watch: {
      hitchPoints: {
        handler (newVal) {
          this.$refs.hmr.markHitchPoints(newVal)
        },
        deep: true
      }
    },
    data () {
      return {
        isShowMe: true,
        isShowInputLoc: false,
        /*censored*/
        isCreateLoading: false,
        isShowFindOptionsForm: false,
        isFindDriversBtnLoading: false,
        createHitchError: {
          isShow: false,
          text: ''
        },
        backHandler: () => {},
        hitch: {
          title: null,
          price: null,
          sDate: '',
          sTime: '',
          eDate: '',
          eTime: '',
          allowReq: true
        },
        activatingInput: null,
        activatingRouteItem: null,
        hitchPoints: {
          src: {
            latLng: {
              lat: null,
              lng: null
            },
            text: ''
          },
          dest: {
            latLng: {
              lat: null,
              lng: null
            },
            text: ''
          }
        },
        matchedRoutes: []
      }
    },
    beforeRouteLeave(to, from, next) {
      const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
      if (answer) {
        this.$refs.hmr.removeHitchMarkers()
        this.$refs.hmr.removeRouteMarkers()
        next()
      } else {
        next(false)
      }
    },
    mounted () {
      this.backHandler = () => this.$router.go(-1)
    },
    methods: {
      defaultBackHandler () {
        this.backHandler = () => this.$router.go(-1)
      },
      showMe () {
        this.isShowMe = true
        this.$store.state.btmComponent.isShowMe = true
        this.defaultBackHandler()
      },
      hideMe () {
        this.isShowMe = false
        this.$store.state.btmComponent.isShowMe = false
      },
      showInputLoc (input) {
        this.isShowInputLoc = true
        this.activatingInput = input
        this.hideMe()
        this.backHandler = () => this.hideInputLoc()
      },
      hideInputLoc () {
        this.isShowInputLoc = false
        this.activatingInput = null
        this.$store.state.mapsComponent.isShowMe = false
        this.showMe()
      },
      showMatchedPage (index) {
        this.$store.state.mapsComponent.isShowMe = true
        this.isShowMatched = true
        /*censored*/
        // avoid bug zoomtobound without zoom.
        this.showMatched(index)
        setTimeout(() => this.showMatched(index), 500)
      },
      showMatched (index) {
        this.activatingRouteItem = this.matchedRoutes[index]
        this.$refs.hmr.showMatchedMarker(index)
      },
      hideShowMatched () {
        this.isShowMatched = false
        this.activatingRouteItem = null
        this.$store.state.mapsComponent.isShowMe = false
        this.showMe()
      },
      showCreateForm (index) {
        if (index === null) {
          this.activatingRouteItem = null
        } else {
          this.activatingRouteItem = this.matchedRoutes[index]
          this.activatingRouteItem.index = index
        }
        this.isShowCreateForm = true
      },
      cancelCreateForm () {
        this.isShowCreateForm = false
      },
      cancelFindOptionsForm () {
        this.isShowFindOptionsForm = false
      },
      createHitch (deal) {
        let payload = null
        this.isCreateLoading = true
        if (this.activatingRouteItem) {
          payload = { hitch: { ...this.hitch, points: this.hitchPoints }, deal: {routeId: this.activatingRouteItem.id, data: deal} }
          /*censored*/
        } else {
          payload = { hitch: { ...this.hitch, points: this.hitchPoints } }
        }
        this.$store.dispatch('hitchs/create', payload).then(result => {
          this.$refs.hmr.removeHitchMarkers()
          /*censored*/
          window.location = '/hitch/'+result.data.id
        }).catch(err => {
          this.isCreateLoading = false
          this.createHitchError.isShow = true
          this.createHitchError.text = err.data
          console.log(err)
        })
      },
      selectLocHandler (loc) {
        this.matchedRoutes = []
        this.activatingInput.text = loc.text
        this.activatingInput.latLng = loc.latLng
        this.hideInputLoc()
      },
      findRoutes (findOptions) {
        this.isShowFindOptionsForm = false
        this.isFindDriversBtnLoading = true
        let payload = {
          srcCoord: this.hitchPoints.src.latLng,
          destCoord: this.hitchPoints.dest.latLng,
          findOptions
        }
        this.$store.dispatch('routes/findRoutes', payload).then(results => {
          this.matchedRoutes = results
          if (this.matchedRoutes.length == 0) throw('notfound')
        }).catch(err => {
          if (err === 'notfound') this.isShowMatchedRoutesNotFound = true
        }).finally(() => {
          this.isFindDriversBtnLoading = false          
        })
      }
    }
  }
</script>
<style>
  .fixed--w100 {
    width: 100%; position: fixed;
  }
  .btn__navigate-back {
    top: 10px; position: fixed; z-index: 100
  }
</style>