<template>
  <div>
    <div class="btn__navigate-back">
      <v-btn fab dark color="primary" @click.native="backHandler">
        <v-icon dark>navigate_before</v-icon>
      </v-btn>
    </div>
    <hitch-match-route v-show="isShowMatched"
      ref="hmr"
      :matchedRoutes="matchedRoutes"
      @showDealForm="showDealForm"
      @showMatched="showMatched"
    ></hitch-match-route>
    <v-dialog v-model="createDealForm.isShow" fullscreen hide-overlay>
      <v-toolbar dark fixed dense color="primary">
        <v-toolbar-title>Create Deal</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click.native="cancelDealForm">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card v-if="!isDealFormFilling">
        <v-flex v-if="createDealForm.isDone && createDealForm.errMsg === ''" mt-5 xs12 text-xs-center>
          <v-alert type="success" :value="true">
            Successful.
          </v-alert>
        </v-flex>
        <v-flex v-if="createDealForm.isDone && createDealForm.errMsg !== ''" mt-5 xs12 text-xs-center>
          <v-alert type="error" :value="true">
            {{createDealForm.errMsg}}
          </v-alert>
        </v-flex>
        <v-container fluid>
          <v-flex v-if="createDealForm.isLoading && !createDealForm.isDone" mt-5 xs12 text-xs-center >
            <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
          </v-flex>
          <v-flex v-if="createDealForm.isDone" xs12 text-xs-center>
            <v-btn color="primary" @click.native="cancelDealForm">Close</v-btn>
          </v-flex>
        </v-container>
      </v-card>
      <v-card v-if="isDealFormFilling">
        <v-container fluid mt-5>
          <!-- <create-deal-form
            :dealBind="deal"
            :isUpdatePoints="true"
          ></create-deal-form> -->
          <v-form ref="offerForm" v-model="dealFormValid" lazy-validation>
            <deal-form
              :dealBind="deal"
            ></deal-form>
            <v-flex xs12 text-xs-center>
              <v-btn color="primary" @click.native="createDeal" :disabled="!dealFormValid">Submit</v-btn>
            </v-flex>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
    <v-dialog 
      content-class="dialog__find-matching-options"
      v-model="isShowFindOptionsForm" 
      persistent 
      max-width="500"
    >
      <find-options-form
        @cancel="cancelFindOptionsForm"
        @find="findRoutes"
      ></find-options-form>
    </v-dialog>
    <div v-show="isShowMe" v-if="hitch">
      <v-flex xs8 offset-xs2 text-xs-center>
        <v-text-field solo color="cyan darken" 
              readonly
              label="Start" 
              :append-icon="'my_location'"
              v-model="hitch.points.src.text"></v-text-field>
      </v-flex>
      <v-flex xs8 offset-xs2 text-xs-center>
        <v-text-field solo color="cyan darken" 
              readonly
              label="Destination" 
              :append-icon="'my_location'"
              v-model="hitch.points.dest.text"></v-text-field>
      </v-flex>
      <v-flex x12 text-xs-center>
        <v-btn color="primary" @click.native="showMyPoints">
          See <v-icon dark right>place</v-icon>
        </v-btn>
        <v-btn color="primary" :loading="searchLoading" @click.native="isShowFindOptionsForm = true">
          Find Drivers <v-icon dark right>search</v-icon>
        </v-btn>
      </v-flex>
      <v-tabs icons-and-text centered dark color="cyan" v-model="activatedTab">
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab href="#tab-req">
          Requests
          <v-icon>compare_arrows</v-icon>
        </v-tab>
        <v-tab href="#tab-srch">
          Search Result
          <v-icon>favorite</v-icon>          
        </v-tab>
        <v-tab-item :id="'tab-req'">
          <v-card flat>
            <v-flex v-if="fetchingState === 'waiting'" xs12 text-xs-center >
              <v-progress-circular indeterminate :size="30" :width="7" color="green"></v-progress-circular>
            </v-flex>
            <v-list three-line v-else-if="fetchingState === 'listening' && deals.length > 0">
              <template v-for="(item, index) in deals">
                <v-list-tile avatar :key="item.id">
                  <v-list-tile-avatar>
                    <img :src="item.driver.avatar">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.driver.uName"></v-list-tile-title>
                    <!-- <v-list-tile-title v-html="$options.filters.fullname(item.driver.fName, item.driver.lName)"></v-list-tile-title> -->
                    <!-- <v-list-tile-sub-title v-html="item.refs.routeId"></v-list-tile-sub-title> -->
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn icon ripple @click.native="goChat(item.id)">
                      <v-icon color="grey lighten-1">chat</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < deals.length" :key="index"></v-divider>
              </template>
            </v-list>
            <v-flex v-else-if="fetchingState === 'listening' && deals.length === 0" xs12 text-xs-center >
              No requests.
            </v-flex>
          </v-card>
        </v-tab-item>
        <v-tab-item :id="'tab-srch'">
          <v-card flat>
            <v-list three-line v-if="matchedRoutes.length > 0">
              <template v-for="(item, index) in matchedRoutes">
                <v-list-tile avatar :key="item.title+index" @click.native="showMatchedPage(index)">
                  <v-list-tile-avatar>
                    <img :src="item.owner.photoURL">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="item.owner.name+', '+item.price+'$'"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider v-if="index + 1 < matchedRoutes.length" :key="index"></v-divider>
              </template>
            </v-list>
            <v-flex v-else-if="searchLoading" xs12 text-xs-center >
              <v-progress-circular indeterminate :size="30" :width="7" color="green"></v-progress-circular>
            </v-flex>
            <v-flex x12 text-xs-center v-else>
              Not Found!
            </v-flex>
          </v-card>
        </v-tab-item>
      </v-tabs>
      <v-layout row warp class="btm-nav">
        <v-flex xs12 text-xs-center>
          <v-alert type="error" dismissible v-model="btmError.show">
            {{btmError.text}}
          </v-alert>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>
<script>
  import HitchMatchRoute from './HitchMatchRoute.vue'
  // import CreateDealForm from './forms/CreateDealForm.vue'
  import DealForm from '../deals/forms/DealForm.vue'
  import FindOptionsForm from './forms/FindOptionsForm.vue'

  export default {
    components: {
      HitchMatchRoute,
      DealForm,
      FindOptionsForm
    },
    props: {
      hitchId: { type: String, required: true }
    },
    data () {
      return {
        isShowMe: true,
        isShowMatched: false,
        isShowFindOptionsForm: false,
        backHandler: () => this.$router.go(-1),
        createDealForm: {
          isShow: false,
          isLoading: false,
          isDone: false,
          errMsg: ''
        },
        activatedTab: null,
        dealFormValid: false,
        hitch: null,
        searchLoading: false,
        deal: {
          title: null,
          price: null,
          sDate: '',
          sTime: '',
          eDate: '',
          eTime: ''
        },
        activatingItem: {},
        activatingMatchedIndex: null,
        matchedRoutes: [],
        btmError: {
          show: false,
          text: ''
        }
      }
    },
    computed: {
      isDealFormFilling () {
        return !this.createDealForm.isLoading && !this.createDealForm.isDone && this.createDealForm.errMsg === ''
      },
      fetchingState () {
        return this.$store.state.deals.fetchingState
      },
      deals () {
        // console.log('this.hitchId', this.hitch.id)
        return this.$store.getters['deals/dealsByHitchId'](this.hitch.id)
      }
    },
    beforeRouteEnter (to, from, next) {
      next(async vm => {
        vm.$store.state.mapsComponent.isShowMe = false
        let hitch = await vm.$store.dispatch('hitchs/get', to.params.hitchId)
        if (hitch.err) {
          vm.$router.push({ name: '404', params: { msg: hitch.err } })
        } else {
          vm.$store.dispatch('deals/getAll')
          vm.hitch = hitch
          vm.deal = {
            ...vm.deal,
            price: hitch.price,
            sDate: hitch.sDate,
            sTime: hitch.sTime,
            eDate: hitch.eDate,
            eTime: hitch.eTime
          }
        }
      })
    },
    beforeRouteLeave(to, from, next) {
      const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
      if (answer) {
        this.$refs.hmr.removeHitchMarkers()
        this.$refs.hmr.removeRouteMarkers()
        next()
      } else {
        next(false)
      }
    },
    filters: {
      fullname: function (fname, lname) {
        return fname + ' ' + lname
      }
    },
    methods: {
      goChat (dealId) {
        this.$router.push({ name: 'threadByDealId', params: { dealId } })
      },
      showMe () {
        this.isShowMe = true
        this.$store.state.btmComponent.isShowMe = true
      },
      hideMe () {
        this.isShowMe = false
        this.$store.state.btmComponent.isShowMe = false
      },
      showMyPoints () {
        this.$store.state.mapsComponent.isShowMe = true
        this.hideMe()
        /*censored*/    
        this.$refs.hmr.markHitchPoints(this.hitch.points)
        setTimeout(() => this.$refs.hmr.zoomToPoints(), 500)
      },
      showMatchedPage (index) {
        this.$store.state.mapsComponent.isShowMe = true
        this.isShowMatched = true
        this.hideMe()
        /*censored*/
        // avoid bug zoomtobound without zoom.
        this.showMatched(index)
        setTimeout(() => this.showMatched(index), 500)
      },
      showMatched (index) {
        this.$refs.hmr.markHitchPoints(this.hitch.points)
        this.activatingMatchedIndex = index
        /*censored*/
        this.$refs.hmr.showMatchedMarker(index)
      },
      hideShowMatched () {
        this.backHandler = () => this.$router.go(-1)
        this.isShowMatched = false
        this.activatingMatchedIndex = null
        this.activatingItem = {}
        this.$store.state.mapsComponent.isShowMe = false
        this.showMe()
      },
      showDealForm () {
        this.createDealForm.isShow = true
      },
      cancelDealForm () {
        this.createDealForm = {
          isShow: false,
          isLoading: false,
          isDone: false,
          errMsg: ''
        }
        this.activatingMatchedIndex = null
        this.activatingItem = {}
      },
      cancelFindOptionsForm () {
        this.isShowFindOptionsForm = false
      },
      createDeal () {
        if (this.$refs.offerForm.validate()) {
          this.createDealForm.isLoading = true
          this.$store.dispatch('hitchs/createExistP2d', {
            hitchId: this.hitch.id,
            points: this.hitch.points,
            routeId: this.activatingItem.id,
            deal: this.deal
          }).then(result => {
            this.$refs.hmr.removeHitchMarkers()
            /*censored*/
            this.hideShowMatched()
          }).catch(err => {
            this.createDealForm.errMsg = err
          }).finally(() => {
            this.createDealForm.isDone = true
          })
        }
      },
      findRoutes (findOptions) {
        this.activatedTab = 'tab-srch'
        this.isShowFindOptionsForm = false
        this.searchLoading = true
        let payload = {
          srcCoord: {
            lat: this.hitch.points.src.latLng.lat,
            lng: this.hitch.points.src.latLng.lng
          },
          destCoord: {
            lat: this.hitch.points.dest.latLng.lat,
            lng: this.hitch.points.dest.latLng.lng
          },
          /*censored*/
        }
        this.$store.dispatch('routes/findRoutes', payload).then(results => {
          this.searchLoading = false
          let deals = this.deals
         
          results = results.filter(result => {
            for (let i = 0; i < deals.length; i++) {
              if (result.id == deals[i].refs.routeId) return false
            }
            return true
          })
          this.matchedRoutes = results
        }).catch(err => {
          this.searchLoading = false
          this.btmError.show = true
          this.btmError.text = err
        })
      }
    }
  }
</script>
<style>
  .btn__navigate-back {
    top: 10px; position: fixed; z-index: 100
  }
</style>