<template>
  <v-layout row warp class="btm-nav">
    <v-flex xs12 text-xs-center>
      <v-tabs
        id="tabs__matched-route"
        v-if="matchedRoutes.length > 0"
        v-model="activatedTab"
        dark
        color="cyan"
        show-arrows
        centered
      >
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab
          v-for="(item, index) in matchedRoutes"
          :key="item.id"
          :href="'#tab-' + item.id"
          @click.native="$emit('showMatched', index)"
        >
          <v-avatar
            :size="32"
            class="grey lighten-4"
          >
            <img :src="item.owner.photoURL">
          </v-avatar>
        </v-tab>
        <v-tabs-items>
          <v-tab-item
            v-for="(item, index) in matchedRoutes"
            :key="item.id"
            :id="'tab-' + item.id"
          >
            <v-layout row wrap>
              <v-flex class="card card--flat white" color="white" xs2>
                <v-avatar
                  class="grey lighten-4"
                >
                  <img :src="item.owner.photoURL" alt="avatar">
                </v-avatar>
              </v-flex>
              <v-flex class="card card--flat white" color="white" xs8>
                <v-card-text v-html="item.title+', '+item.price+'$'"></v-card-text>
              </v-flex>
              <v-flex class="card card--flat white" color="white" xs2 text-xs-right>
                <v-btn class="btn__make-deal" flat icon color="pink" @click.native="$emit('showDealForm', index)">
                  <v-icon>send</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>
<script>
  import polylineUtils from '@mapbox/polyline'

  export default {
    props: {
      matchedRoutes: { type: Object, required: true }
    },
    data () {
      return {
        activatedTab: null,
        routeImgMarker: {
          src: {
            url: '/*censored*/',
          },
          dest: {
            url: '/*censored*/',
          }
        },
        hitchImgMarker: {
          src: {
            url: '/*censored*/',
          },
          dest: {
            url: '/*censored*/',
          }
        },
        hitch: {
          markers: {
            src: null,
            dest: null
          }
        },
        route: {
          markers: {
            src: null,
            dest: null,
            pointsDebug: []
          },
          polyline: null,
          encodedLine: null
        }
      }
    },
    methods: {
      removeHitchMarkers () {
        if (this.hitch.markers.src) this.hitch.markers.src.setMap(null)
        if (this.hitch.markers.dest) this.hitch.markers.dest.setMap(null)
      },
      removeRouteMarkers () {
        if (this.route.markers.src) this.route.markers.src.setMap(null)
        if (this.route.markers.dest) this.route.markers.dest.setMap(null)
        if (this.route.polyline) this.route.polyline.setMap(null)
      },
      showMatchedMarker (index) {
        this.activatedTab = 'tab-'+this.matchedRoutes[index].id
        let route = this.matchedRoutes[index]
        this.removeRouteMarkers()
        this.markRoute(route.encodedLine)
        /*censored*/
      },
      markRoute (encodedLine) {
        let decodedPLine = polylineUtils.decode(encodedLine)
        decodedPLine = decodedPLine.map((pLine) => {
          return {lat: pLine[0], lng: pLine[1]}
        })
        this.route.markers.src = this.createMarker(decodedPLine[0], '', false, this.routeImgMarker.src)
        this.route.markers.dest = this.createMarker(decodedPLine[decodedPLine.length - 1], '', false, this.routeImgMarker.dest)
        /*censored*/
      },
      markHitchPoints (points) {
        this.removeHitchMarkers()
        if (points) {
          if (points.src.latLng.lat) this.hitch.markers.src = this.createMarker(points.src.latLng, '', false, this.hitchImgMarker.src)
          if (points.dest.latLng.lat) this.hitch.markers.dest = this.createMarker(points.dest.latLng, '', false, this.hitchImgMarker.dest)
        }
      },
      zoomToPoints () {
        let bounds = new google.maps.LatLngBounds()
        if (this.hitch) {
          if (this.hitch.markers.src) bounds.extend(this.hitch.markers.src.getPosition())
          if (this.hitch.markers.dest) bounds.extend(this.hitch.markers.dest.getPosition())
          this.$store.state.mapsComponent.$refs.mmm.$mapObject.fitBounds(bounds)
        }
      },
      zoomToBound () {
        let bounds = new google.maps.LatLngBounds()
        let polylinePoints = this.route.polyline.getPath().getArray()
        let points = []
        /*censored*/
        points.push(polylinePoints[0])
        points.push(polylinePoints[polylinePoints.length - 1])
        for (let n = 0; n < points.length; n++) {
          bounds.extend(points[n])
        }
        this.$store.state.mapsComponent.$refs.mmm.$mapObject.fitBounds(bounds)
      }
    }
  }
</script>