<template>
    <div class="list__message-item" >
      <div class="msg" :class="getPosition">
        {{ message.text }}
      </div>
      <div class="clear"></div>
    </div>
</template>

<script>
  export default {
    name: 'Message',
    props: {
      message: { type: Object, required: true }
    },
    computed: {
      getPosition () {
        if (this.message.author === this.$store.state.users.currentUser.uid) {
          return 'from-me'
        } else {
          return 'from-other'
        }
      }
    },
    mounted () {
      this.$vuetify.goTo(document.body.scrollHeight)
    }
  }
</script>

<style lang="scss" scoped>
.list__message-item {
  margin: 10px;
}

.clear {
  clear: both
}

.msg {
  z-index: 2;
  position: relative;
  padding: 10px 20px;

  &.from-me {
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -2px;
      right: -7px;
      height: 20px;
      border-right: 20px solid #0B93F6;
      border-bottom-left-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      right: -56px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }

  &.from-other {
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -2px;
      left: -7px;
      height: 20px;
      border-left: 20px solid #E5E5EA;
      border-bottom-right-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 3;
      bottom: -2px;
      left: 4px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
}
</style>