<template>
  <v-flex v-if="thread.loading || loading" xs12 text-xs-center >
    <v-progress-circular align-center justify-center indeterminate :size="70" :width="7" color="green"></v-progress-circular>
  </v-flex>
  <div v-else-if="!thread.loading && !loading" class="thread-container">
    <v-card v-if="thread.error">
      {{thread.error}}
    </v-card>
    <v-card v-if="thread.data && thread.data.refData.latestDeal && threadDeal">
      <div fixed>
        <v-toolbar dark color="success">
          <v-btn icon @click.native="$router.go(-1)">
            <v-icon>navigate_before</v-icon>
          </v-btn>
          <v-toolbar-title>{{ 'to '+thread.data.refData.latestDeal.data.points.dest.text}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-title>{{thread.data.refData.latestDeal.data.price+'$'}}</v-toolbar-title>              
          <v-btn icon v-if="!['matched', 'done'].includes(threadDeal.status)" @click.native="editDeal">
            <v-icon>build</v-icon>
          </v-btn>
          <v-btn icon v-if="!['matched', 'done'].includes(threadDeal.status) && !isOwnLatestDeal" @click.native="accept">
            <v-icon>done</v-icon>
          </v-btn>
          <v-btn icon v-if="threadDeal.status == 'matched' && threadDeal.status != 'done' && isPassenger" @click.native="complete">
            <v-icon>done_all</v-icon>
          </v-btn>
        </v-toolbar>
      </div>
      
      <div id="message-section">
        <h3 class="message-thread-heading">{{ thread.title }}</h3>
        <div class="list__message" ref="messageList">
          <message
            v-for="message in thread.data.messages"
            :key="message.id"
            :message="message">
          </message>
        </div>
      </div>
    </v-card>
    <div id="input__msg" class="btm-nav">
      <v-container fluid class="pa-3">
        <v-layout row wrap>
          <v-flex xs10>
            <v-text-field
              id="input__message"
              v-model="newMessageText"
              label="message"
              @keyup.enter="sendMessage"
            ></v-text-field>
          </v-flex>
          <v-flex xs2>
            <v-btn id="btn_send-chat-msg" @click.native="sendMessage()" dark icon color="primary">
              <v-icon>send</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
  import Message from './Message.vue'
  import { mapState } from 'vuex'

  export default {
    name: 'Thread',
    data () {
      return {
        newMessageText: '',
        loading: false,
        err: ''
      }
    },
    components: {
      Message
    },
    computed: {
      ...mapState({
        user: state => state.users.currentUser,
        thread: state => state.threads.currentThread,
        threadDeal: state => state.deals.all[state.threads.currentThread.data.refData.dealData.id],
        isPassenger: state => state.threads.currentThread.data.refData.dealData.users[state.users.currentUser.uid] === 'p',
        isP2dDeal: state => state.threads.currentThread.data.refData.type === 'p2d',
        isOwnLatestDeal: state => state.users.currentUser.uid === state.threads.currentThread.data.refData.latestDeal.data.by
      })
    },
    beforeRouteEnter (to, from, next) {
      next(async vm => {
        let thread = null
        if (to.params.threadId) {
          thread = await vm.$store.dispatch('threads/getThreadByThreadId', to.params.threadId)
        }
        if (to.params.dealId) {
          thread = await vm.$store.dispatch('threads/getThreadByDealId', to.params.dealId)
        }
        if (thread.id) {
          vm.switchThread(thread.id)
        } else {
          vm.$router.push({ name: '404', params: { msg: thread.err } })
        }
        vm.$store.state.btmComponent.isShowMe = false
      })
    },
    mounted () {
      this.$store.state.mapsComponent.isShowMe = false
      this.$vuetify.goTo(document.body.scrollHeight)
    },
    methods: {
      sendMessage () {
        if (this.newMessageText !== '') {
          this.$store.dispatch('threads/sendMessage', {
            text: this.newMessageText,
            created: Date.now(),
            threadId: this.thread.id
          })
          .then(res => {
            this.newMessageText = ''
          })
        }
      },
      close () {
        this.$emit('close')
      },
      accept () {
        this.loading = true
        this.$store.dispatch('deals/acceptDeal', {
          deal: this.thread.data.refData.dealData,
          latestDealRef: this.thread.data.refData.latestDeal.ref.ref
        })
        .then(res => {
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          this.err = err.response.data.message
        })
      },
      complete () {
        this.loading = true
        this.$store.dispatch('deals/completeDeal', {
          dealId: this.thread.data.refData.dealData.id
        })
        .then(res => {
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          this.err = err.response.data.message
        })
      },
      editDeal () {
        this.$router.push({ name: 'editDeal',
          params: {
            dealId: this.thread.data.refData.dealData.id
          }
        })
      },
      async switchThread (threadId) {
        if (this.$store.state.threads.currentThread.id !== threadId) {
          this.$store.dispatch('threads/switchThread', { threadId })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
.list__message {
  padding: 68px 0;
}
#input__msg {
  padding: 0 20px;
}
</style>
