<template>
  <v-card>
    <v-toolbar dark fixed dense color="primary">
      <v-toolbar-title>Create Hitchhike</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon dark @click.native="cancel">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container fluid mt-5>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field 
            label="Title" 
            id="input__title"
            v-model="hitch.title" 
            :rules="[rules.required]"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field 
            id="input__price"
            prepend-icon="attach_money" 
            label="Price"  
            v-model="hitch.price"
            :rules="[rules.required, rules.number]"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-flex xs12>
          <v-select
            v-model="hitch.repeatDays"
            label="Repeats"
            chips
            tags
            :items="days"
          ></v-select>
        </v-flex>
        
        <v-layout row wrap>
          <v-flex xs11 sm5>
            <v-dialog
              ref="sDateDialog"
              content-class="dialog__pickup-date"
              persistent
              v-model="sDateModal"
              lazy
              full-width
              width="290px"
            >
              <v-text-field
                slot="activator"
                label="Pickup"
                id="input__pickup-date"
                v-model="hitch.sDate"
                :rules="[rules.required]"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker 
                v-model="hitch.sDate" 
                scrollable 
                actions
                :min="new Date().toISOString().substr(0, 10)"
              >
                <template slot-scope="{ save, cancel }">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click.native="sDateModal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click.native="$refs.sDateDialog.save(hitch.sDate)">OK</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs11 sm5>
            <v-text-field 
            id="input__pickup-time"
            prepend-icon="access_time" 
            label="time" :mask="'time'" 
            v-model="hitch.sTime"
            ></v-text-field>
          </v-flex>
          
          <v-flex xs11 sm5>
            <v-dialog
              ref="eDateDialog"
              content-class="dialog__arrival-date"           
              persistent
              v-model="eDateModal"
              lazy
              full-width
              width="290px"
            >
              <v-text-field
                slot="activator"
                label="Arrival"
                id="input__arrival-date"
                v-model="hitch.eDate"
                :rules="[rules.required]"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker 
                v-model="hitch.eDate" 
                scrollable 
                actions
                :min="hitch.sDate"                
              >
                <template slot-scope="{ save, cancel }">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click.native="eDateModal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click.native="$refs.eDateDialog.save(hitch.eDate)">OK</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs11 sm5>
            <v-text-field 
            id="input__arrival-time"
            prepend-icon="access_time" 
            label="time" 
            :mask="'time'" 
            v-model="hitch.eTime"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs11 sm5>
            <v-checkbox :label="`Allow driver request`" v-model="hitch.allowReq"></v-checkbox>
          </v-flex>
          <v-flex xs12 v-if="withRoute">
            <deal-form :dealBind="dealBind" :isShowCreateOptions="false"><v-divider></v-divider></deal-form>
          </v-flex>
        </v-layout>

        <v-card-actions>
          <v-flex xs12 text-xs-center>
            <v-btn class='btn__submit' color="primary" @click.native="save" :disabled="!valid">Submit</v-btn>
          </v-flex>
        </v-card-actions>
      </v-form>
    </v-container>
  </v-card>    
</template>
<script>
  import DealForm from '../../deals/forms/DealForm.vue'

  export default {
    components: {
      DealForm
    },
    props: {
      hitch: { type: Object, required: true },
      withRoute: { type: Boolean, required: true }
    },
    data () {
      return {
        sDateModal: false,
        eDateModal: false,
        dealBind: { message: '' },
        days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        valid: true,
        rules: {
          number: v => !isNaN(v) || 'must be number',
          required: (v) => !!v || 'Required.'
        }
      }
    },
    methods: {
      cancel () {
        this.$emit('cancel')
      },
      save () {
        if (this.$refs.form.validate()) {
          this.$emit('createHitch', this.dealBind)
        }
      }
    }
  }
</script>