<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-toolbar-title>Find Options</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon dark @click.native="cancel">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
      <v-container fluid>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field 
              id="input__pickup-distance"
              label="Start - Maximum distance (meter)"  
              v-model="findOptions.startMaxDistance"
              :rules="[rules.required, rules.number]"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field 
              id="input__destination-distance" 
              label="Destination - Maximum distance (meter)"  
              v-model="findOptions.destMaxDistance"
              :rules="[rules.required, rules.number]"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-card-actions>
        <v-flex xs12 text-xs-center>
          <v-btn id="btn__find-matching" color="primary" @click.native="save" :disabled="!valid">Find
          </v-btn>
        </v-flex>
        </v-card-actions>
      </v-form>
    </v-container>
  </v-card>    
</template>
<script>

  export default {
    data () {
      return {
        findOptions: {
          startMaxDistance: 100,
          destMaxDistance: 100
        },
        valid: true,
        rules: {
          number: v => !isNaN(v) || 'must be number',
          required: (v) => !!v || 'Required.'
        }
      }
    },
    methods: {
      cancel () {
        this.$emit('cancel')
      },
      save () {
        if (this.$refs.form.validate()) {
          this.$emit('find', this.findOptions)
        }
      }
    }
  }
</script>