<template>
  <div v-if="isShowMe">
    <div v-show="isShowMain">
      <v-layout row wrap>
        <v-flex xs8 offset-xs2 text-xs-center>
          <place-autocomplete
            country="th"
            @selectSuggestion="selectSuggestion"
          ></place-autocomplete>
        </v-flex>
        <v-flex class="xs2"></v-flex>
        <v-flex xs12 text-xs-center>
          <div>
            <v-btn color="primary" v-on:click="showPinMap">
              Set on map
              <v-icon>my_location</v-icon>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </div>
    <div v-show="isShowPinMap">
      <v-layout row wrap>
        <v-flex xs8 offset-xs2 text-xs-center>
          <v-text-field solo color="cyan darken" 
          label="Location" 
          v-model="pinLoc.text"></v-text-field>
        </v-flex>
        <v-flex class="xs2"></v-flex>
      </v-layout>
      <div class="confirm-center">
        <v-flex text-xs-center>
          <v-btn color="primary" v-on:click="confirmCenter" :disabled="pinLoc.text === ''">Confirm
            <v-icon dark right>check_circle</v-icon>
          </v-btn>
        </v-flex>
      </div>
      <div class="icon-loc--wrap">
        <v-icon floating dense large class="icon_loc">location_on</v-icon>
      </div>
    </div>
  </div>
</template>
<script>
  import debounce from 'lodash/debounce'
  import PlaceAutocomplete from './PlaceAutocomplete.vue'

  export default {
    components: {
      PlaceAutocomplete
    },
    data () {
      return {
        /*censored*/
        pinLoc: {
          text: '',
          latLng: {}
        },
        interestings: ['premise', 'route', 'establishment', 'point_of_interest', 'transit_station']
      }
    },
    props: {
      isShowMe: { type: Boolean, required: true }
    },
    watch: {
      'isShowMe' (newVal, oldVal) {
        this.hidePinMap()
      },
      'isShowPinMap' (newVal, oldVal) {
        if (this.centerChgLtnCb) {
          google.maps.event.removeListener(this.centerChgLtnCb)
        }
        if (newVal === true) {
          this.centerChgLtnCb = this.$store.state.mapsComponent.$refs.mmm.$mapObject.addListener('center_changed', () => {
            this.pinLoc = {
              /*censored*/
            }
          })
          this.centerChgLtnCb = this.$store.state.mapsComponent.$refs.mmm.$mapObject.addListener('center_changed', debounce(this.centerChangeCb, 550))
        }
      }
    },
    methods: {
      centerChangeCb () {
        this.pinLoc.latLng = {lat: this.$store.state.mapsComponent.$refs.mmm.$mapObject.center.lat(), lng: this.$store.state.mapsComponent.$refs.mmm.$mapObject.center.lng()}
        if (!this.$store.state.maps.placeService) {
          this.$store.commit('maps/setMapsPlaceService', {maps: this.$store.state.mapsComponent.$refs.mmm.$mapObject})
        }
        this.$store.dispatch('maps/geocodeByPlaceId', {location: this.$store.state.mapsComponent.$refs.mmm.$mapObject.center}).then(results => {
          /*censored*/
        }).catch(err => {
          console.log(err)
        })
      },
      selectSuggestion (place) {
        this.$emit('selectLocHandler', place)
      },
      confirmCenter () {
        this.$emit('selectLocHandler', this.pinLoc)
        this.hidePinMap()
      },
      showPinMap () {
        /*censored*/
        this.centerChangeCb()
      },
      hidePinMap () {
        /*censored*/
      }
    }
  }
</script>
<style scoped>
  .icon-loc--wrap {
    position: fixed; bottom: 50%; left: 50%; z-index: 100
  }
  .icon-loc {
    position: relative; left: -50%; color: #FB8C00;
  }
</style>
