<template>
  <div>
    <v-text-field solo color="cyan darken" 
      ref="autocomplete"
      label="" 
      :append-icon="'my_location'"
      :class="classname"
      v-model="locationText"
      @focus="onFocus"
      @blur="onBlur"
      @input="search"
    ></v-text-field>
    <v-list v-if="autocompleteItems.length > 0">
      <template v-for="(item, index) in autocompleteItems">
        <v-list-tile avatar :key="item.text" @click.native="pickLocation(item)">
          <v-list-tile-avatar>
            <v-icon>location_on</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-sub-title v-html="item.text"></v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="index + 1 < autocompleteItems.length" :key="index"></v-divider>
      </template>
    </v-list>
  </div>
</template>
<script>
  import debounce from 'lodash/debounce'
  export default {
    data () {
      return {
        locationText: '',
        autocompleteItems: []
      }
    },
    props: {
      classname: String,
      types: { type: String, default: 'address' },
      country: { type: [String, Array], default: null },
      enableGeolocation: { type: Boolean, default: false }
    },
    mounted () {
      this.focus()
      const options = {}
      if (this.types) {
        options.types = [this.types]
      }
      if (this.country) {
        options.componentRestrictions = {
          country: this.country
        }
      }
      if (!this.$store.state.maps.autocompleteService) {
        this.$store.commit('maps/setMapsAutocompleteService')
      }
    },
    methods: {
      focus () {
        this.$refs.autocomplete.focus()
      },
      blur () {
        this.$refs.autocomplete.blur()
      },
      search (e) {
        if (e.length) {
          this.searchPlace(e, this.$store.state.maps.autocompleteService, this.autocompleteCB)
        }
      },
      onFocus () {
        this.geolocate()
        this.$emit('focus')
      },
      onBlur () {
        this.$emit('blur')
      },
      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      geolocate () {
        /*censored*/
      },
      pickLocation (location) {
        this.$store.dispatch('maps/geocodeByPlaceId', {placeId: location.placeId}).then(result => {
          let latLng = {
            lat: result[0].geometry.location.lat(),
            lng: result[0].geometry.location.lng()
          }
          this.$emit('selectSuggestion', {latLng, text: location.mainText})
        }).catch(err => {
          /*censored*/
        })
      },
      autocompleteCB (results, status) {
        this.autocompleteItems = []
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            this.autocompleteItems.push({
              index: i,
              /*censored*/
              secondaryText: results[i].structured_formatting.secondary_text
            })
          }
        }
      },
      searchPlace: debounce((text, autocompleteService, autocompleteCB) => {
        // reset autocompleteItems
        // var autocompleteItems = this.autocompleteItems
        console.log('search', text)
        autocompleteService.getPlacePredictions({
          input: text,
          country: 'th'
        }, autocompleteCB)
      }, 500)
    }
  }
</script>
