<template>
  <v-bottom-nav v-show="isShowMe" fixed :value="true" :active.sync="e1">
    <v-btn flat color="teal" value="hitch" v-on:click="hitch">
      <span>Hitch hiking</span>
      <v-icon>thumb_up</v-icon>
    </v-btn>
    <v-btn flat color="teal" value="home" v-on:click="home">
      <span>Home</span>
      <v-icon>home</v-icon>
    </v-btn>
    <v-btn flat color="teal" value="driving" v-on:click="driving">
      <span>Driving</span>
      <v-icon>drive_eta</v-icon>
    </v-btn>
  </v-bottom-nav>
</template>
<script>
  export default {
    data () {
      return {
        e1: 'recent',
        isShowMe: true
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.isShowMe = true
      })
    },
    mounted () {
      this.$store.commit('setBtmComponent', this)
    },
    methods: {
      home () {
        this.$router.push('/home')
      },
      hitch () {
        this.$router.push('/hitch')
      },
      driving () {
        this.$router.push('/vehicles')
      }
    }
  }
</script>