<template>
  <gmap-map
    id="gmap"
    v-show="isShowMe"
    ref="mmm"
    :center="center"
    :zoom="15"
    :options="mapOptions"
    @center_changed="center_changed"
  >
  </gmap-map>
</template>

<script>
  export default {
    name: 'googlemap',
    components: {
    },
    data () {
      return {
        isShowMe: false,
        thread: {
          show: false
        },
        mapOptions: {
          gestureHandling: 'greedy',
          disableDefaultUI: true,
          center: {lat: 13.746613, lng: 100.539905}
        },
        center: {lat: 13.746613, lng: 100.539905}
      }
    },
    mounted () {
      this.$store.commit('setMapsComponent', this)
      // check for Geolocation support
      if (navigator.geolocation) {
        let locInterval = null
        var geoSuccess = (position) => {
          /*censored*/
        }
        var geoError = (error) => {
          clearInterval(locInterval)
          console.log('Error occurred. Error code: ' + error.code)
          // error.code can be:
          //   0: unknown error
          //   1: permission denied
          //   2: position unavailable (error response from location provider)
          //   3: timed out
        }
        navigator.geolocation.getCurrentPosition(geoSuccess, geoError)
      } else {
        console.log('Geolocation is not supported for this Browser/OS.')
      }
    },
    methods: {
      createMarker (latlng, label, draggable = false) {
        return new google.maps.Marker({
          position: latlng,
          map: this.$refs.mmm.$mapObject,
          label: label,
          draggable: draggable,
          animation: google.maps.Animation.DROP
        })
      },
      center_changed (e) {
        this.tempCenter = {
          latLng: {lat: e.lat(), lng: e.lng()}
        }
      },
      closeThreadDialog () {
        this.thread.show = false
      }
    }
  }
</script>
<style>
  #gmap {
    width: 100%; height: 100%; position: static;
  }
  .btm-nav {
    width: 100%; 
    bottom: 20px; 
    left: 0px;
    color: white; 
    position: fixed; 
    z-index: 100;
  }
  .btm-nav {
    bottom: 0px; 
  }
</style>
