<template>
<div>
  <div class="menu--fixed--top--right">
    <v-menu bottom left>
      <v-list-tile-avatar slot="activator">
        <img :src="user.avatar.data">
      </v-list-tile-avatar>
      <v-list>
        <v-list-tile @click.native="editUser()">
          <v-list-tile-title>edit</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click.native="logOut()">
          <v-list-tile-title>logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
  <v-list three-line v-if="hitchsRoutesActive.length > 0 || hitchsRoutesComplete.length > 0 ">
    <template v-if="hitchsRoutesActive.length > 0">
      <v-subheader>Actives</v-subheader>
      <template v-for="(item, index) in hitchsRoutesActive">
        <v-divider v-if="item.divider" :inset="item.inset" :key="index"></v-divider>
        <v-list-tile avatar v-else :key="item.title+index" @click.native="showActiveItem(item)">
          <v-list-tile-avatar>
            <v-icon>{{ item.type==='route' ? 'drive_eta' : 'thumb_up' }}</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title v-html="item.title"></v-list-tile-title>
            <v-list-tile-sub-title v-html="item.sDate+' '+item.sTime+' <-> '+item.eDate+' '+item.eTime"></v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </template>
    <template v-if="hitchsRoutesComplete.length > 0">
      <v-subheader>Historys</v-subheader>
      <template v-for="(item, index) in hitchsRoutesComplete">
        <v-divider v-if="item.divider" :inset="item.inset" :key="index"></v-divider>
        <v-list-tile avatar v-else :key="item.title+index" @click.native="showHistoryItem(item)">
          <v-list-tile-avatar>
            <v-icon>{{ item.type==='route' ? 'drive_eta' : 'thumb_up' }}</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title v-html="item.title"></v-list-tile-title>
            <v-list-tile-sub-title v-html="item.sDate+' '+item.sTime+' <-> '+item.eDate+' '+item.eTime"></v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </template>
  </v-list>
  <v-flex x12 text-xs-center v-else>
    no data
  </v-flex>
</div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import * as firebase from 'firebase'

export default {
    data () {
      return {
      }
    },
    computed: {
      ...mapState({
        user: state => state.users.currentUser,
      }),
      ...mapGetters({
        hitchsRoutesActive: 'users/activeLatestHitchRoute',
        hitchsRoutesComplete: 'users/completeLatestHitchRoute'
      })
    },
    methods: {
      editUser () {
        this.$router.push('/editinfo')
      },
      showActiveItem (item) {
        this.$router.push(item.link)
      },
      showHistoryItem (item) {
      },
      logOut () {
        firebase.auth().signOut().then(() => {
          this.$store.commit('setUser', null)
          this.$router.push({ name: 'login' })
        }, (error) => {
          /*censored*/
        })
      }
    }
  }
</script>
<style>
  .menu--fixed--top--right {
    top: 10px; right: 0px; position: fixed; z-index: 100;
  }
</style>
