<template>
  <div class="hello">
  </div>
</template>

<script>
import GoogleMaps from './GoogleMap.vue'

export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js PWA',
      menuVisible: false
    }
  },
  components: {
    GoogleMaps
  },
  methods: {
    toggleMenu () {
      this.menuVisible = !this.menuVisible
    }
  }
}
</script>
