<template>
  <v-btn dark class="btn--dark-flat-focused jbtn-file" :loading="loading">
    {{ title }}<input id="selectFile" type="file" v-on:change="fileSelected" accept=".jpg, .jpeg, .png">
    <span slot="loader" class="custom-loader">
      <v-progress-circular indeterminate :size="20" :width="2" color="green"></v-progress-circular>
    </span>
  </v-btn>
</template>

<script>
  export default {
    name: 'upload-btn',
    props: {
      selectedCallback: { type: Function, required: true },
      title: { type: String },
      loading: { type: Boolean }
    },
    methods: {
      fileSelected (e) {
        if (this.selectedCallback) {
          if (e.target.files[0]) {
            this.selectedCallback(e.target.files[0])
          } else {
            this.selectedCallback(null)
          }
        }
      }
    }
  }
</script>

<style scoped>
  .jbtn-file {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .jbtn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
  }
</style>