<template>
  <div id="app">
    <main>
      <v-app>
        <!-- use a dynamic transition name -->
        <!-- <transition :name="transitionName"> -->
          <keep-alive include="googlemap">
            <router-view></router-view>
          </keep-alive>
        <!-- </transition> -->
        <keep-alive>
          <router-view ref="btmnav" class="view two" name="btmnav"></router-view>
        </keep-alive> 
        <router-view class="view two" name="overlay"></router-view>
      </v-app>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      transitionName: null
    }
  },
  // then, in the parent component,
  // watch the `$route` to determine the transition to use
  watch: {
    '$route' (to, from) {
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      // this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
    }
  }
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
