<template>
  <div>
    <slot></slot>
    <v-card-title class="headline">Deal information</v-card-title>
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field
          id="input__deal-message"
          slot="activator"
          label="Message"
          v-model="dealBind.message"
          prepend-icon="message"
          :rules="[rules.required]"            
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="isShowCreateOptions">
      <v-flex xs12>
        <v-text-field 
          id="input__deal-price"
          prepend-icon="attach_money" 
          label="Offer price"  
          v-model="dealBind.price"
          :rules="[rules.required]"
        ></v-text-field>
      </v-flex>
      <v-flex xs11 sm5>
        <v-dialog
          content-class="dialog__pickup-date"
          ref="sDateDialog"
          persistent
          v-model="sDateModal"
          lazy
          full-width
          width="290px"
        >
          <v-text-field
            id="input__deal-pickup-date"
            slot="activator"
            label="Pickup"
            v-model="dealBind.sDate"
            :rules="[rules.required]"
            prepend-icon="event"
            readonly
          ></v-text-field>
          <v-date-picker 
            v-model="dealBind.sDate" 
            scrollable 
            actions
            :min="new Date().toISOString().substr(0, 10)"
          >
            <template slot-scope="{ save, cancel }">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="sDateModal = false">Cancel</v-btn>
                <v-btn flat color="primary" @click.native="$refs.sDateDialog.save(dealBind.eDate)">OK</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-dialog>
      </v-flex>
      <v-spacer></v-spacer>
      <v-flex xs11 sm5>
        <v-text-field 
          id="input__deal-pickup-time"
          prepend-icon="access_time" 
          label="time" 
          :mask="'time'" 
          v-model="dealBind.sTime"
        ></v-text-field>
      </v-flex>
      <v-flex xs11 sm5>
        <v-dialog
          content-class="dialog__arrival-date"
          ref="eDateDialog"    
          persistent
          v-model="eDateModal"
          lazy
          full-width
          width="290px"
        >
          <v-text-field
            id="input__deal-arrival-date"
            slot="activator"
            label="Arrival"
            v-model="dealBind.eDate"
            :rules="[rules.required]"
            prepend-icon="event"
            readonly
          ></v-text-field>
          <v-date-picker 
            v-model="dealBind.eDate" 
            scrollable 
            actions
            :min="dealBind.sDate"
          >
            <template slot-scope="{ save, cancel }">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="eDateModal = false">Cancel</v-btn>
                <v-btn flat color="primary" @click.native="$refs.eDateDialog.save(route.eDate)">OK</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-dialog>
      </v-flex>
      <v-spacer></v-spacer>
      <v-flex xs11 sm5>
        <v-text-field 
          id="input__deal-arrival-time"
          prepend-icon="access_time" 
          label="time" 
          :mask="'time'" 
          v-model="dealBind.eTime"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  export default {
    props: {
      isShowCreateOptions: { type: Boolean, default: true },
      dealBind: Object
    },
    data () {
      return {
        sDateModal: false,
        eDateModal: false,
        rules: {
          number: v => !isNaN(v) || 'must be number',
          required: (v) => !!v || 'Required.'
        }
      }
    },
    methods: {
    }
  }
</script>